/*------------------------------------*\
            Home Cover CSS
\*------------------------------------*/
.home-cover {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .home-cover {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media (min-width: 1025px) {
    .home-cover {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 100px;
        position: relative;
    }
}


.home-cover h4 {
    text-align: center;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .home-cover h4 { margin-bottom: 36px; }
}

@media (min-width: 1025px) {
    .home-cover h4 { margin-bottom: 55px; }
}


.home-cover-nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .home-cover-nav { margin-top: 50px; }
}

@media (min-width: 1025px) {
    .home-cover-nav {
        width: 100%;
        margin-top: 0;
        position: absolute;
        bottom: 10px;
        left: 0;
        justify-content: space-between;
        z-index: 1;
    }
}

.home-cover-slider {
    max-width: 276px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .home-cover-slider {
        max-width: 100%;
        z-index: 2;
    }
}

@media (min-width: 1025px) {
    .home-cover-slider {
        max-width: 1098px;
        padding: 0 25px;
    }
}

@media (min-width: 1366px) {
    .home-cover-slider {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .home-cover-slide {
        padding: 0 25px;
    }
}


.home-cover__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #081D58;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.25s ease-in-out;
}

    .home-cover__button:hover {
        background-color: rgba(8,29,88,0.5);
    }

@media (min-width: 768px) {
    .home-cover__button { margin: 0 22.5px; }
}

@media (min-width: 1025px) {
    .home-cover__button { display: block!important }
}


.home-cover__button img {
    max-width: 13.67px;
    width: 100%;
}

    .home-cover__button.button--prev {
        transform: rotate(180deg);
    }
