/*------------------------------------*\
            Home About CSS
\*------------------------------------*/

.home-about {
    padding-top: 20px;
    padding-bottom: 50px;
}
@media (min-width: 768px) {
    .home-about { padding-top: 40px; }
}

@media (min-width: 1025px) {
    .home-about { padding-bottom: 100px; }
}

@media (min-width: 1440px) {
    .home-about { padding-top: 60px; }
}

@media (min-width: 2000px) {
    .home-about { padding-top: 100px; }
}

.home-about-wrapper {
    padding-top: 20px;
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .home-about-wrapper { padding-bottom: 60px; }
}

@media (min-width: 1025px) {
    .home-about-wrapper { padding-bottom: 0; }
}

.home-about-wrapper h2 { margin-bottom: 20px; }

.home-about-wrapper p { margin-bottom: 20px; }

@media (min-width: 768px) {
    .home-about-wrapper p {
        margin-bottom: 32px;
    }
}

@media (min-width: 1025px) {
    .home-about .row .col-md-6:first-child {
        padding-right: 32.5px;
    }

    .home-about .row .col-md-6:last-child {
        padding-top: 64px;
        padding-left: 32.5px;
    }

    .home-about-figure {
        position: relative;
        height: 460px;
        border: 12px solid #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    .home-about__img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scaleX(-1);
    }

    .home-about__img--absolute {
        position: absolute;
        right: 12.8px;
        bottom: -108.7px;
        transform: rotate(-6deg);
        width: 363px;
        height: 263px;
        object-fit: cover;
        object-position: center;
        border: 12px solid #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
}
