/*------------------------------------*\
            Home Program CSS
\*------------------------------------*/
.home-program-outlined {
    width: 100%;
}

.home-program-wrapper {
    margin-top: -10px;
    padding-bottom: 80px;
    text-align: center;
}

@media (min-width: 768px) {
    .home-program-wrapper {
        padding-bottom: 95px;
        margin-top: -40px;
    }
}

.home-program__logo {
    max-width: 38px;
    width: 100%;
    margin: 0 auto;
}

.home-program__blurb {
    padding-top: 50px;
}

.home-program-blurb-item {
    display: block;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 1025px) {
    .home-program-blurb-item {
        transition: opacity 0.25s ease-in-out;
        cursor: pointer;
    }

    .home-program-blurb-item:hover .home-program-blurb__icon {
        opacity: 0;
    }

    .home-program-blurb-item:hover .home-program-blurb__hover {
        opacity: 1;
    }

    .home-program-blurb-item:hover .home-program-blurb__title {
        color: #FC4A1A;
    }
}

.home-program-blurb__title {
    font-family: poppins-semibold;
    font-weight: 600;
    transition: color 0.25s ease-in-out;
    text-transform: uppercase;
}

.home-program-blurb__icon {
    max-width: 132px;
    width: 100%;
    padding-bottom: 16px;
    transition: opacity 0.25s ease-in-out;
}

.home-program-blurb__hover {
    max-width: 132px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.home-program-blurb-item { padding-bottom: 25px; }

@media (min-width: 768px) {
    .home-program-blurb-item { padding-bottom: 50px; }
}

.home-program__link {
    margin-top: 35px;
    text-align: left;
}

@media (min-width: 768px) {
    .home-program__link { margin-top: 0; }
}
