/*------------------------------------*\
            Home Step CSS
\*------------------------------------*/
.home-step {
    padding-top: 65px;
    padding-bottom: 90px;
}

@media (min-width: 768px) {
    .home-step {
        padding-top: 75px;
        padding-bottom: 45px;
    }
}

@media (min-width: 1025px) {
    .home-step {
        padding-top: 130px;
        padding-bottom: 55px;
    }

    .home-step .row{ position: relative; }
}

.home-step-wrapper { padding-top: 20px; }

@media (min-width: 768px) {
    .home-step-wrapper { padding-top: 8px; }
}

.home-step-wrapper h2 { padding-bottom: 25px; }

@media (min-width: 768px) {
    .home-step-wrapper h2 { padding-bottom: 16px; }
}

.home-step-wrapper p { padding-bottom: 40px; }

@media (min-width: 768px) {
    .home-step-wrapper p { padding-bottom: 32px; }
}

.home-step-list {
    padding-top: 90px;
    padding-left: 0;
    list-style-type: none;
}

@media (min-width: 768px) {
    .home-step-list {
        padding-top: 70px;
        padding-left: 66px;
    }
}

@media (min-width: 1025px) {
    .home-step-list { padding-top: 0; }
}

.home-step-item {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 0;
    margin: 0;
    padding: 63px 19px 50px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.18));
    margin-bottom: 115px;
    transition: all 0.25s ease-in-out;
}

.home-step-item:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

@media (min-width: 768px) {
    .home-step-item {
        padding: 30px 100px 30px 115px;
        margin-bottom: 45px;
    }
}

    .home-step-item:last-child {
        margin-bottom: 0;
    }

.home-step__number {
    position: absolute;
    top: -43px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    font-size: 29px;
    font-family: poppins-semibold;
}

@media (min-width: 768px) {
    .home-step__number {
        top: 10px;
        left: -66px;
        transform: translateX(0);
        width: 130px;
        height: 130px;
        font-size: 44px;
    }
}

@media (min-width: 1025px) {
    .home-step__number {
        top: 50%;
        transform: translateY(-50%);
    }
}

.home-step__title {
    text-align: center;
    font-size: 22px;
    font-family: poppins-regular;
    font-weight: 300;
    line-height: 1.45em;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .home-step__title {
        text-align: left;
        padding-bottom: 5px;
    }
}

.home-step__paragraph { text-align: center; }

@media (min-width: 768px) {
    .home-step__paragraph { text-align: left; }
}

.home-step__link {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 56px;
    width: 100%;
    height: 56px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    border: none;
}

@media (min-width: 768px) {
    .home-step__link {
        top: 52px;
        right: 33px;
        left: auto;
        transform: translateX(0);
    }
}

.home-step__link img {
    max-width: 17.30px;
}

.home-step__background {
    display: none;
}

@media (min-width: 1025px) {
    .home-step__background {
        display: block;
        position: absolute;
        right: -297px;
        top: 62px;
        z-index: -1;
    }
}
