/*------------------------------------*\
            Home Location CSS
\*------------------------------------*/
.home-location {
    background-color: #081D58;
    padding-bottom: 50px;
    margin-top: -10px;
}

@media (min-width: 768px) {
    .home-location { padding-bottom: 100px; }
}

@media (min-width: 1025px) {
    .home-location {
        position: relative;
        background-color: transparent;
        padding-bottom: 80px;
    }

        .home-location::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 850px;
            background-color: #081D58;
            z-index: -1;
        }
}

@media (min-width: 1025px) {
    .home-location-wrapper {
        max-width: 1098px;
        width: 100%;
    }
}

.home-location-outlined { width: 100%; }

.home-location__logo {
    max-width: 37.8px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .home-location__logo {
        padding-top: 0;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .home-location h2 { margin-bottom: 16px; }
}

@media (min-width: 768px) {
    .home-location p { margin-bottom: 50px; }
}

.home-form {
    margin-top: 20px;
    padding: 35px 15px 25px;
    background-color: #fff;
}

@media (min-width: 1025px) {
    .home-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .home-form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .home-form-wrapper {
        max-width: 57%;
        width: 100%;
    }
}

.home-form__title {
    margin-bottom: 30px;
    font-size: 22px;
    font-family: poppins-bold;
}

@media (min-width: 1025px) {
    .home-form__title {
        margin-bottom: 0;
        margin-right: 32px;
    }
}

.home-form input[type=number]{
    max-width: 226px;
    width: 100%;
    height: 40px;
    border: 1px solid #8E8E8E;
    text-align: center;
    -moz-appearance: textfield;
}

    .home-form input[type=number]::placeholder { color: #505050; }

    .home-form input[type=number]::-webkit-outer-spin-button,
    .home-form input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

@media (min-width: 768px) {
    .home-form input[type=number]{
        max-width: 200px;
    }
}

@media (min-width: 1025px) {
    .home-form input[type=number]{
        max-width: 307px;
        text-align: left;
        padding-left: 15px;
    }
}

.home-form .custom-select {
    position: relative;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .home-form .custom-select {
        margin-top: 0;
        margin-left: 20px;
        margin-right: 22px;
        max-width: 170px;
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .home-form .custom-select {
        margin-left: 16px;
        margin-right: 16px;
        max-width: 194px;
    }
}

.home-form .custom-select select { position: absolute; }

.home-form .custom__selected {
    max-width: 226px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #8E8E8E;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}

@media (min-width: 768px) {
    .home-form .custom__selected {
        padding-left: 22px;
        padding-right: 43px;
    }
}

@media (min-width: 1025px) {
    .home-form .custom__selected {
        padding-left: 15px;
        text-align: left;
    }
}

.home-form .custom__selected::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 2px solid #8E8E8E;
    border-bottom: 2px solid #8E8E8E;
    top: 45%;
    right: 45px;
    transform: translate(0, -50%) rotate(45deg);
}

@media (min-width: 768px) {
    .home-form .custom__selected::after {
        right: 15px;
    }
}

.home-form .custom__selected.active::after {
    transform: rotate(-135deg);
}

.home-form ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    max-width: 226px;
    width: 100%;
    height: 222px;
    overflow-y: scroll;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    background-color: #eee;
    cursor: pointer;
    z-index: 2;
}

.home-form li {
    padding: 10px;
    color: #081D58;
}

    .home-form li:hover {
        background-color: #081D58;
        color: #fff;
    }

.home-form__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin: 25px auto 0;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

    .home-form__link:hover {
        background-color: rgba(8,29,88,0.5);
    }

@media (min-width: 768px) {
    .home-form__link { margin: 0; }
}

@media (min-width: 768px) {
    .home-form__link { flex-shrink: 0; }
}

.home-form__link img {
    max-width: 13.67px;
    width: 100%;
}

.home-location-key {
    padding: 18px 35px;
    background-color: #021036;
    text-align: left;
}


@media (min-width: 768px) {
    .home-location-key {
        display: flex;
        padding: 13px 32px 0;
    }
}

@media (min-width: 1025px) {
    .home-location-key { justify-content: center; }
}

.home-location-key h5 { margin-bottom: 18px; }

@media (min-width: 768px) {
    .home-location-key h5 {
        margin-bottom: 0;
        margin-right: 23px;
        flex-shrink: 0;
    }
}

.home-location-list {
    padding: 0;
    list-style-type: none;
    text-align: left;
}

@media (min-width: 768px) {
    .home-location-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.home-location-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
}

@media (min-width: 768px) {
    .home-location-item { margin-right: 22px; }
}

    .home-location-item:last-child .home-location__text { margin-bottom: 0; }

.home-location__title {
    font-size: 18px;
    font-family: inter-bold;
    font-weight: 600;
}

.home-location__text {
    font-size: 18px;
    margin-bottom: 0 !important;
}

.home-location__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.home-location__icon.icon-first {
    background-color: #FC4A1A;
    border: 2px solid #FFF;
}

.home-location__icon.icon-second {
    background-color: #081D58;
    border: 2px solid #FC4A1A;
}

.home-location__icon.icon-third {
    background-color: #1D6420;
    border: 2px solid #FFF;
}

.home-map {
    width: 100%;
    height: 264px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .home-map { height: 334px; }
}

@media (min-width: 768px) {
    .home-map {
        height: 677px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
}
