/*------------------------------------*\
            Home Common CSS
\*------------------------------------*/
.home-common-heading {
    display: flex;
    align-items: center;
}

.home-common-heading__logo {
    max-width: 28px;
    width: 100%;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .home-common-heading__logo {
        max-width: 38px;
        margin-right: 16px;
    }
}

.home-common-heading__title {
    font-weight: 700;
    font-family: poppins-bold;
    letter-spacing: 0.05em;
    line-height: 2em;
    margin: 0;
}

@media (min-width: 768px) {
    .home-common-heading__title {
        font-size: 22px;
    }
}
