/*------------------------------------*\
            Home Resource CSS
\*------------------------------------*/
.home-resource {
    padding-top: 45px;
    padding-bottom: 65px;
    background-color: #F7F7F7;
}

@media (min-width: 768px) {
    .home-resource {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1025px) {
    .home-resource {
        padding-top: 120px;
        padding-bottom: 90px;
    }
}

.home-resource-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width: 1025px) {
    .home-resource-wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #BECBCF;
    }
}

.home-resource-heading {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .home-resource-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media (min-width: 1025px) {
    .home-resource-heading { margin-bottom: 12px; }
}

.home-resource__logo {
    max-width: 35px;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .home-resource__logo {
        max-width: 55px;
        margin-bottom: 0;
        margin-right: 32px;
    }
}

.home-resource-buttons {
    display: flex;
    justify-content: center;
    color: #081D58;
}

@media (min-width: 768px) {
    .home-resource-buttons {
        width: 100%;
        justify-content: flex-start;
        border-bottom: 1px solid #BECBCF;
    }
}

@media (min-width: 1025px) {
    .home-resource-buttons {
        width: 20%;
        border-bottom: 0;
        justify-content: flex-end;
    }
}

.home-resource-button {
    max-width: 100px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #BECBCF;
    letter-spacing: 0.05em;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.45em;
    transition: all 0.25s ease-in-out;
    text-transform: uppercase;
}

    @media (min-width: 1025px) {
        .home-resource-button:hover {
            color: #1D6420;
        }
    }

@media (min-width: 768px) {
    .home-resource-button {
        border-bottom: none;
        padding-bottom: 25px;
    }
}

@media (min-width: 1025px) {
    .home-resource-button {
        padding-bottom: 0;
    }
}

    .home-resource-button:first-child { text-align: left; }

    @media (min-width: 768px) {
        .home-resource-button:first-child { text-align: center; }
    }

    .home-resource-button:last-child { text-align: right; }

    @media (min-width: 768px) {
        .home-resource-button:last-child { text-align: center; }
    }

    .home-resource-button.active {
        position: relative;
        color: #1D6420;
    }

    .home-resource-button.active::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #1D6420;
    }

.home-resource-blurb {
    display: none;
    padding-bottom: 60px;
}

.home-resource-blurb.active {
    display: flex;
}

.home-resource-box {
    display: block;
    background: #fff;
    height: 100%;
    filter: drop-shadow(0px 0px 20px rgba(90, 103, 113, 0.3));
    text-decoration: none;
    transition: transform 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .home-resource-box:hover {
            transform: scale(1.05);
        }
    }

.home-resource__img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .home-resource__img { height: 159px; }
}

@media (min-width: 1025px) {
    .home-resource__img { height: 237px; }
}

@media (min-width: 1025px) {
    .home-resource-box {
        position: relative;
    }
}

.home-resource-category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081D58;
    padding: 10px 0;
}

.home-resource__icon {
    max-width: 18px;
    width: 100%;
    margin-right: 8px;
}

.home-resource__cat {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.6em;
    text-transform: uppercase;
}

.home-resource-content {
    padding: 14px 22px 28px;
}

.home-resource-content h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.home-resource-content p {
    padding-bottom: 56px;
}

.home-resource-readmore {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 22px;
}

.home-resource-readmore .arrow-key--right {
    transition: all 0.25s ease-in-out;
}

.home-resource-link {
    display: none;
}

.home-resource-link.active {
    display: block;
}
