/*------------------------------------*\
            Home Program CSS
\*------------------------------------*/
.home-program .wysiwyg h2 {
    padding-bottom: 16px;
}

.home-program .wysiwyg h2,
.home-program .wysiwyg p {
    color: #fff;
}

.home-program-outlined {
    width: 100%;
}

.home-program-wrapper {
    margin-top: -10px;
    padding-bottom: 80px;
    text-align: center;
}

@media (min-width: 768px) {
    .home-program-wrapper {
        padding-bottom: 95px;
        margin-top: -40px;
    }
}

.home-program__logo {
    max-width: 38px;
    width: 100%;
    margin: 0 auto;
}

.home-program__blurb {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-program-blurb-item {
    position: relative;
    max-width: 50%;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .home-program-blurb-item {
        max-width: 33.33%;
        padding-bottom: 50px;
    }
}

@media (min-width: 1025px) {
    .home-program-blurb-item {
        max-width: 16%;
        transition: opacity 0.25s ease-in-out;
        cursor: pointer;
    }

    @media (min-width: 1025px) {
        .home-program-blurb-item:hover .home-program-blurb__icon {
            opacity: 0;
        }

        .home-program-blurb-item:hover .home-program-blurb__hover {
            opacity: 1;
        }

        .home-program-blurb-item:hover .home-program-blurb__title {
            color: #FC4A1A;
        }
    }
}

.home-program-blurb__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: color 0.25s ease-in-out;
    text-transform: uppercase;
    font-size: 16px;
}

.home-program-blurb__icon {
    max-width: 132px;
    width: 100%;
    height: auto;
    padding-bottom: 16px;
    transition: opacity 0.25s ease-in-out;
}

.home-program-blurb__hover {
    max-width: 132px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.home-program__link {
    margin-top: 35px;
    text-align: left;
}

@media (min-width: 768px) {
    .home-program__link { margin-top: 0; }
}
