/*------------------------------------*\
            Home Slider CSS
\*------------------------------------*/
.home-slider {
    position: relative;
    padding-top: 78.97px;
}

@media (min-width: 1025px) {
    .home-slider {
        padding-top: 81.5px;
    }
}

@media (min-width: 1025px) {
    .home-slider {
        padding-top: 0;
    }
}

.home-slide {
    width: 100%;
}

.home-slide-item {
    position: relative;
}

.home-slide-figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

@media (min-width: 1025px) {
    .home-slide__img {
        object-position: center;
    }
}

.home-slide__img.flip {
    transform: scaleX(-1);
}

.home-slide__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.38);
}

.home-slide-content {
    padding: 70px 22px 170px;
}

@media (min-width: 768px) {
    .home-slide-content {
        padding: 150px 85px 200px;
    }
}

@media (min-width: 1025px) {
    .home-slide-content {
        max-width: 1366px;
        padding: 65px 22px 220px;
        margin: 0 auto;
    }
}

.home-slide-content-heading {
    font-size: 40px;
    line-height: 1.2em;
    margin: 0;
    color: #fff;
}

@media (min-width: 768px) {
    .home-slide-content-heading {
        font-size: 60px;
        line-height: 1.2em;
    }
}

@media (min-width: 1025px) {
    .home-slide-content-heading {
        font-size: 80px;
        line-height: 1.17em;
    }
}

.home-slide-content-wrapper {
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

@media (min-width: 768px) {
    .home-slide-content-wrapper {
        font-size: 60px;
    }
}

@media (min-width: 1025px) {
    .home-slide-content-wrapper {
        font-size: 57px;
        margin-bottom: 36px;
    }
}

.home-slide-content-span {
    position: relative;
    font-size: 48px;
    font-family: 'Shadows Into Light', cursive;
    line-height: 0.85em;
}

@media (min-width: 768px) {
    .home-slide-content-span {
        font-size: 60px;
        margin-right: 25px;
    }
}

@media (min-width: 1025px) {
    .home-slide-content-span {
        font-size: 68px;
        margin-right: 10px;
        letter-spacing: 0.033em;
    }
}


    .home-slide-content-span::before {
        content: "";
        position: absolute;
        left: -5px;
        bottom: 10px;
        width: 108%;
        height: 15px;
        background-color: #FC4A1A;
        z-index: -1;
    }

    @media (min-width: 768px) {
        .home-slide-content-span::before {
            width: 108%;
            height: 17px;
            bottom: 15px;
        }
    }

    @media (min-width: 1025px) {
        .home-slide-content-span::before {
            width: 108%;
            height: 19px;
            left: -8px;
            bottom: 18px;
        }
    }

.home-slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.home-slick-dots {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 7.5px;
}

.slick-active .home-slick-dots {
    background-color: #FC4A1A;
}

.home-slide-outlined {
    position: absolute;
    width: 100%;
    height: 140px;
    bottom: 0;
    left: 0;
    object-position: top;
    object-fit: cover;
}

@media (min-width: 600px) {
    .home-slide-outlined {
        height: 170px;
    }
}

@media (min-width: 768px) {
    .home-slide-outlined {
        bottom: -40px;
    }
}

@media (min-width: 1025px) {
    .home-slide-outlined {
        bottom: -10px;
        height: 155px;
    }
}

@media (min-width: 1366px) {
    .home-slide-outlined {
        bottom: -70px;
        height: 250px;
    }
}

@media (min-width: 2000px) {
    .home-slide-outlined {
        bottom: -30px;
        height: 250px;
    }
}
