.background {
    background-color: rgba(218,221,230,0.3);
    padding-top: 30px;
    padding-bottom: 30px;
}

@media( min-width: 768px ) {
    .background {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media( min-width: 1025px ) {
    .background {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.background--default {
    background-color: #fff;
}

.background-remove--top-spacing {
    margin-top: -30px;
}

@media( min-width: 768px ) {
    .background-remove--top-spacing {
        margin-top: -70px;
    }
}

@media( min-width: 1025px ) {
    .background-remove--top-spacing {
        margin-top: -100px;
    }
}
