/*------------------------------------*\
          Image & Buttons CSS
\*------------------------------------*/
.imagebutton {
    position: relative;
    text-align: center;
    overflow: hidden;
}

@media( min-width: 1025px ) {
    .imagebutton {
        padding-bottom: 260px;
    }
}

@media( min-width: 1366px ) {
    .imagebutton {
        padding-bottom: 280px;
    }
}

.imagebutton-wrapper {
    position: relative;
    z-index: 2;
    background-color: #081D58;
    padding-bottom: 200px;
}

@media( min-width: 768px ) {
    .imagebutton-wrapper {
        background-color: transparent;
        padding-bottom: 190px;
        z-index: 3;
    }
}

@media( min-width: 1025px ) {
    .imagebutton-wrapper {
        padding-bottom: 0;
        background-color: #081D58;
    }
}

.imagebutton-wrapper .container{
    padding-top: 50px;
}

@media( min-width: 768px ) {
    .imagebutton-wrapper .container{
        padding-top: 70px;
        background-color: #081D58;
    }
}

@media( min-width: 1025px ) {
    .imagebutton-wrapper .container {
        padding-top: 100px;
        max-width: 1036px;
        background-color: transparent;
    }
}

.imagebutton-content__image {
    display: block;
    max-width: 34.76px;
    width: 100%;
    margin: 0 auto 20px;
}

@media( min-width: 768px ) {
    .imagebutton-content__image {
        margin-bottom: 10px;
    }
}

.imagebutton-blurb {
    padding-top: 40px;
    padding-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagebutton-item {
    position: relative;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

@media( min-width: 768px ) {
    .imagebutton-item {
        max-width: 33.33%;
        margin-bottom: 55px;
        cursor: pointer;
    }
}

@media( min-width: 1025px ) {
    .imagebutton-item {
        max-width: 20%;
        margin-bottom: 55px;
        cursor: pointer;
    }
}

    .imagebutton-item:hover .imagebutton__icon {
        opacity: 0;
    }

    .imagebutton-item:hover .imagebutton__title {
        color: #FC4A1A;
    }

.imagebutton__icon {
    max-width: 100px;
    width: 100%;
    position: relative;
    z-index: 2;
    transition: opacity 0.25s ease-in-out;
}

@media( min-width: 768px ) {
    .imagebutton__icon {
        max-width: 132px;
    }
}

.imagebutton__hover {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    width: 100%;
}

@media( min-width: 768px ) {
    .imagebutton__hover {
        max-width: 132px;
    }
}

.imagebutton__title {
    display: block;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: poppins-bold;
    letter-spacing: 0.025em;
    line-height: 1.46em;
    transition: color 0.25s ease-in-out;
}

@media( min-width: 768px ) {
    .imagebutton__title {
        margin-top: 30px;
    }
}

.imagebutton__outline {
    position: absolute;
    left: 0;
    bottom: -110px;
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}

@media( min-width: 768px ) {
    .imagebutton__outline {
        transform: none;
        bottom: -75px;
    }
}

@media( min-width: 1025px ) {
    .imagebutton__outline {
        transform: none;
        bottom: -50px;
        transform: rotate(180deg);
    }
}

@media( min-width: 1366px ) {
    .imagebutton__outline {
        bottom: -30px;
    }
}
