/*------------------------------------*\
            Home Cover CSS
\*------------------------------------*/
.insure {
    background-color: #F7F7F7;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .insure {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (min-width: 1025px) {
    .insure-wrapper {
        position: relative;
    }
}


.insure-wrapper h4 {
    text-align: center;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .insure-wrapper h4 { margin-bottom: 36px; }
}

@media (min-width: 1025px) {
    .insure-wrapper h4 { margin-bottom: 55px; }
}


.insure-nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .insure-nav { margin-top: 50px; }
}

@media (min-width: 1025px) {
    .insure-nav {
        width: 100%;
        margin-top: 0;
        position: absolute;
        bottom: 10px;
        left: 0;
        justify-content: space-between;
        z-index: 1;
    }
}

.insure-slider {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .insure-slider {
        z-index: 2;
    }
}

@media (min-width: 1025px) {
    .insure-slider {
        max-width: 1098px;
        padding: 0 25px;
    }
}

@media (min-width: 1366px) {
    .insure-slider {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .insure-slide {
        padding: 0 25px;
    }
}


.insure__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #081D58;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.25s ease-in-out;
}

    .insure__button:hover {
        background-color: rgba(8,29,88,0.5);
    }

@media (min-width: 768px) {
    .insure__button { margin: 0 22.5px; }
}

@media (min-width: 1025px) {
    .insure__button { display: block!important }
}


.insure__button img {
    max-width: 13.67px;
    width: 100%;
}

    .insure__button.button--prev {
        transform: rotate(180deg);
    }
