/*------------------------------------*\
           Text & Image CSS
\*------------------------------------*/
.textimage {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media( min-width: 768px ) {
    .textimage {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media( min-width: 1025px ) {
    .textimage {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.textimage__image {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center;
    border: 12px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}

@media( min-width: 768px ) {
    .textimage__image {
        height: 327px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@media( min-width: 1025px ) {
    .textimage__image {
        height: 394px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media( min-width: 1025px ) {
    .textimage .wysiwyg-component {
        padding-left: 32px;
    }
}
