/*------------------------------------*\
        Text With Background CSS
\*------------------------------------*/
.textbg {
    position: relative;
    overflow: hidden;
}

.textbg-wrapper {
    position: relative;
    padding-top: 65px;
    padding-bottom: 150px;
}

@media( min-width: 768px ) {
    .textbg-wrapper {
        padding-top: 70px;
        padding-bottom: 150px;
    }
}

@media( min-width: 1025px ) {
    .textbg-wrapper {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

.textbg__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.textbg-editor {
    position: relative;
    z-index: 2;
}

.textbg__outline {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

@media( min-width: 768px ) {
    .textbg__outline {
        bottom: -80px;
        height: 250px;
    }
}

@media( min-width: 1025px ) {
    .textbg__outline {
        top: -100px;
        bottom: auto;
        height: 250px;
        transform: rotate(180deg);
    }
}
