/*------------------------------------*\
           Text & 2 Image CSS
\*------------------------------------*/
.twoimage {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media( min-width: 768px ) {
    .twoimage {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media( min-width: 1025px ) {
    .twoimage {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    .twoimage.oneimage {
        padding-bottom: 100px;
    }

    .twoimage .row .col-md-6:first-child {
        padding-right: 32.5px;
    }

    .twoimage .row .col-md-6:last-child {
        padding-top: 64px;
        padding-left: 32.5px;
    }
}

.twoimage-figure {
    position: relative;
    height: 460px;
    border: 12px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.twoimage__img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
}

.twoimage__img.remove--flip {
    transform: scaleX(1);
}

.twoimage__img--absolute {
    position: absolute;
    right: 12.8px;
    bottom: -108.7px;
    transform: rotate(-6deg);
    width: 363px;
    height: 263px;
    object-fit: cover;
    object-position: center;
    border: 12px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
