/*------------------------------------*\
           General WYSIWYG CSS
\*------------------------------------*/
.wysiwyg-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media( min-width: 768px ) {
    .wysiwyg-block {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media( min-width: 1025px ) {
    .wysiwyg-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg p,
.wysiwyg blockquote {
    padding-top: 8px;
    padding-bottom: 8px;
}

.wysiwyg h4 {
    display: block;
}

.wysiwyg h4 > img {
    max-width: 27.79px;
    width: 100%;
    margin-right: 11px;
    vertical-align: middle;
}

@media( min-width: 1025px ) {
    .wysiwyg h4 > img {
        max-width: 37.8px;
    }
}

.wysiwyg blockquote {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    font-family: poppins-semibold;
    line-height: 1.77em;
    color: #1D6420;
}

.wysiwyg p > a {
    color: #081D58;
    text-decoration: none;
    transition: border 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
}

.wysiwyg p > a:hover {
    border-color: #081D58;
}

.wysiwyg ul {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}

.wysiwyg li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}

.wysiwyg li h4 {
    font-size: 16px;
    font-family: poppins-bold;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 2em;
    color: #1D6420;
    padding-top: 0;
    padding-bottom: 0;
}

@media( min-width: 768px ) {
    .wysiwyg li {
        margin-bottom: 20px;
    }
}

     .wysiwyg li::before {
         content: "";
         position: absolute;
         top: 12px;
         left: 0;
         width: 9px;
         height: 9px;
         border-radius: 50%;
         background-color: #081D58;
     }

.wysiwyg li:last-child {
    margin-bottom: 0;
}

.wysiwyg .btn-wrapper > a {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 40px;
}

.wysiwyg .contact {
    margin: 14px 0;
    display: flex;
    align-items: center;
}

.wysiwyg .contact {
    text-decoration: none;
}

.wysiwyg .contact > img {
    max-width: 18.63px;
    width: 100%;
    margin-right: 10px;
}

.wysiwyg .contact > span {
    font-size: 28px;
    font-weight: 600;
    font-family: poppins-semibold;
    color: #081D58;
}
