/*------------------------------------*\
             Inner Custom CSS
\*------------------------------------*/
.custom-blurb {
    padding-top: 90px;
}

.custom-box {
    background-color: #ECEEF4;
    text-align: center;
    margin-bottom: 35px;
}

@media (min-width: 1025px) {
    .custom-box {
        margin-bottom: 70px;
    }
}

.custom-blurb img {
    width: 100%;
    height: 268px;
    object-fit: cover;
    object-position: center;
}

.custom-blurb h3 {
    margin-top: 30px;
    font-size: 26px;
    line-height: 1.2em;
}

.custom-blurb h4 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 2em;
}

.custom-blurb a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
}
