/*------------------------------------*\
          InnerPage Global CSS
\*------------------------------------*/
.inner-content {
    max-width: 1098px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.inner-content img {
    max-width: 37.8px;
    width: 100%;
    margin-bottom: 10px;
}

.inner-content h2 {
    margin-bottom: 16px;
}

.inner-content p {
    color: #081D58;
}
