/*------------------------------------*\
     InnerPage Forms and Guides CSS
\*------------------------------------*/
.guides .inner-content {
    padding-bottom: 160px;
}

.guides-wrapper {
    margin-top: -10px;
    background-color: #DADDE6;
    padding-bottom: 130px;
}

.guides-box {
    position: relative;
    width: 100%;
    margin-top: -150px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 90px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .guides-box {
        margin-top: -200px;
    }
}

@media (min-width: 1025px) {
    .guides-box {
        margin-top: -250px;
    }
}

@media (min-width: 1366px) {
    .guides-box {
        margin-top: -300px;
    }
}

.guides-nav {
    padding: 35px 35px;
    background-color: #021036;
}

@media (min-width: 1025px) {
    .guides-nav {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.guides-nav__title {
    font-size: 18px;
    line-height: 1.33em;
    font-family: inter-bold;
    color: #fff;
    margin-bottom: 18px;
}

@media (min-width: 1025px) {
    .guides-nav__title {
        margin-right: 32px;
        margin-bottom: 0;
    }
}

.guides-btn-wrapper {
    display: block;
}

@media (min-width: 1025px) {
    .guides-btn-wrapper {
        display: flex;
    }
}

.guides__btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px;
    padding-left: 0;
    margin-bottom: 18px;
}

@media (min-width: 1025px) {
    .guides__btn {
        margin-bottom: 0;
    }
}

    .guides__btn:last-child {
        margin-right: 0;
    }

    .guides__btn:hover .guides__btn-title {
        color: #FC4A1A;
    }

.guides__btn-circle {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 8px;
}

.guides__btn-circle.active {
    background-color: #1D6420;
}

.guides__btn-title {
    color: #fff;
    font-size: 18px;
    line-height: 1.33em;
    font-family: inter;
    transition: all 0.25s ease-in-out;
}

/**
 * Search Bar
 */
.search-bar {
    width: 100%;
    padding: 30px 35px 60px;
    transition: all 0.25s ease-in-out;
}

@media (min-width: 1025px) {
    .search-bar {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}

.search-bar-wrapper {
    max-width: 816px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(218,221,230,0.27);
    border: 0.5px solid rgba(8,29,88,0.27);
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 11px 11px 30px;
}

.search-bar__icon {
    max-width: 19px;
    width: 100%;
    flex-shrink: 0;
}

.search-bar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 15px;
    border-radius: 50%;
    flex-shrink: 0;
}

.search-bar__search {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-family: poppins-medium;
    font-weight: 500;
    color: #081D58;
}

    .search-bar__search:focus {
        border: none;
        outline: none;
    }

    .search-bar__search::placeholder {
        color: #081D58;
    }

.search-bar__link img {
    max-width: 13.67px;
}

/**
 * Guide List
 */

.guides-list {
    list-style-type: none;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 60px;
}

@media (min-width: 1025px) {
    .guides-list {
        padding-left: 95px;
    }
}

.guides-item {
    position: relative;
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    padding: 22px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.11));
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .guides-item {
        padding: 35px;
    }
}

@media (min-width: 1025px) {
    .guides-item {
        padding: 70px 65px 70px 130px;
    }
}

    .guides-item:last-child {
        margin-bottom: 0;
    }

.guides__img {
    position: absolute;
    top: 50%;
    left: -64px;
    transform: translateY(-50%);
    max-width: 146px;
    width: 100%;
}

.guides-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (min-width: 1025px) {
    .guides-item-wrapper {
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.guides-content {
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1025px) {
    .guides-content {
        text-align: left;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.guides__link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100px;
    width: 100%;
    font-size: 12px;
    font-family: poppins-bold;
    letter-spacing: 0.05em;
    color: #081D58;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

    .guides__link:hover {
        color: #FC4A1A;
    }

    .guides__link:hover .guides__link-circle{
        background-color: #081D58;
    }

    .guides__link:hover .guides__link-circle img{
        filter: brightness(0) invert(1);
    }

.guides__link-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #081D58;
    margin-bottom: 5px;
    transition: background 0.25s ease-in-out;
}

.guides__link-circle img {
    max-width: 20px;
    transform: rotate(90deg);
    transition: filter 0.25s ease-in-out;
}

/**
 * Pagination
 */

.guides-pagination-wrapper {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1025px) {
    .guides-pagination-wrapper {
        justify-content: flex-end;
    }
}

.guides-pag-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    padding: 0 16px;
}



.guides-pag__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #DADDE6;
    color: #081D58;
    border-radius: 50%;
    text-decoration: none;
    font-family: poppins-bold;
    font-size: 17px;
    letter-spacing: 0.05em;
    transition: all 0.25s ease-in-out;
    margin-right: 8px;
}

    .guides-pag__link:hover {
        background-color: #081D58;
        color: #fff;
    }

    .guides-pag-item:last-child .guides-pag__link {
        margin-right: 0;
    }

.guides-pag__link.active {
    background-color: #081D58;
    color: #fff;
}

.guides-pag-next,
.guides-pag-prev {
    max-width: 11.8px;
    width: 100%;
    transition: all 0.25s ease-in-out;
}

    .guides-pag-next:hover,
    .guides-pag-prev:hover {
        opacity: 0.5;
    }

.guides-pag-prev {
    transform: rotate(180deg);
}
