/**
 * Add styling for 404 page here
 */
.page-404 h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #1D6420;
}

@media screen and (min-width: 1025px) {
    .page-404 h2 {
        font-size: 25px;
    }
}

.imgbtns-404 {
    padding-top: 50px;
}

.imgbtns-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none;
}

@media screen and (min-width: 1025px) {
    .imgbtns-box {
        margin-bottom: 0;
        overflow: hidden;
    }

    .imgbtns-box:hover .imgbtns-content {
        background-color: #081D58
    }

    .imgbtns-box:hover h5 {
        color: #fff;
    }
}

.imgbtns-image {
    width: 40%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 550px) {
    .imgbtns-image {
        height: 150px;
    }
}

@media screen and (min-width: 768px) {
    .imgbtns-image {
        height: 100px;
    }
}


@media screen and (min-width: 1025px) {
    .imgbtns-image {
        width: 100%;
        height: 220px;
    }
}

.imgbtns-content {
    padding-left: 20px;
    transition: all 0.25s ease-in-out;
}

@media screen and (min-width: 1025px) {
    .imgbtns-content {
        width: 75%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
        padding-left: 0;
        background-color: #fff;
    }
}

.imgbtns-content h5 {
    font-size: 16px;
    color: #081D58;
    transition: all 0.25s ease-in-out;
}

@media screen and (min-width: 1025px) {
    .imgbtns-content h5 {
        text-align: center;
        padding: 0 22px 10px;
    }
}

.links-404 {
    padding: 50px 0 100px;
}

.search-404 .header-bar {
    position: static;
    z-index: 1;
    padding: 0;
    opacity: 1;
}

.contact-404 {
    padding-top: 50px;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    .contact-404 {
        padding-top: 0;
    }
}

.contact-404 a {
    display: inline-block;
}
