/*------------------------------------*\

    Page Footer CSS

    Page footer...........The main page footer.

\*------------------------------------*/

.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: auto; /* used to affix footer at bottom of page */
}

@media (min-width: 768px) {
    .footer {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

@media (min-width: 768px) {
    .footer-top {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    .footer-top {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__logo {
    display: block;
    max-width: 226px;
    width: 100%;
    margin: 0 auto 60px;
}

@media (min-width: 768px) {
    .footer__logo {
        margin-bottom: 44px;
    }
}

@media (min-width: 1025px) {
    .footer__logo {
        margin: 0;
    }
}

.footer-nav {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .footer-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;
    }
}

@media (min-width: 1025px) {
    .footer-nav {
        margin-bottom: 0;
    }
}

.footer-nav li {
    margin-bottom: 15px
}

    .footer-nav li:last-child {
        margin-bottom: 0;
    }

@media (min-width: 768px) {
    .footer-nav li {
        margin-bottom: 0;
    }
}

@media (min-width: 1025px) {
    .footer-nav li {
        margin-left: 8px;
        margin-right: 8px;
    }
}

.footer-nav a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #081D58;
    transition: color 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .footer-nav a:hover {
            color: #FC4A1A;
        }
    }

@media (min-width: 768px) {
    .footer-nav a {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .footer-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 11px;
    }

    .footer-social .footer-go-top {
        margin: 0;
    }
}

@media (min-width: 1025px) {
    .footer-social {
        padding: 0;
    }
}

.footer-social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social__link {
    position: relative;
    margin: 0 8px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .footer-social__link { display: flex; }

        .footer-social__link:first-child {
            margin-left: 0;
        }
}

    @media (min-width: 1025px) {
        .footer-social__link:hover span::before {
            transition: color 0.25s ease-in-out;
            color: #FC4A1A;
        }
    }

.footer-social__link span::before {
    font-size: 28px;
    color: #081D58;
}

.footer-bottom { padding-top: 50px; }

@media (min-width: 768px) {
    .footer-bottom {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
        padding: 32px 11px 0;
    }
}

@media (min-width: 1025px) {
    .footer-bottom {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 90px 0 0;
    }
}

.footer-go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: #081D58;
    border-radius: 50%;
    transition: opacity 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .footer-go-top:hover {
            opacity: 0.5;
        }
    }

.footer-go-top img {
    max-width: 16px;
    width: 100%;
    transform: rotate(-90deg);
}

@media (min-width: 1025px) {
    .footer-bottom .footer-go-top {
        order: 2;
        margin: 0;
    }
}

@media (min-width: 1025px) {
    .footer-top .footer-go-top {
        display: none;
    }
}

.footer-other { padding-top: 50px; }

@media (min-width: 768px) {
    .footer-other {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
}

@media (min-width: 1025px) {
    .footer-other {
        order: 1;
    }
}

.footer-other__links {
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    color: #081D58;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .footer-other__links:hover {
            color: #FC4A1A;
        }
    }

@media (min-width: 1025px) {
    .footer-other__links {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.footer-other__copyright {
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #081D58;
    letter-spacing: 0.05em;
}
