/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythem setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 * Search................Search.
 * Custom-spinner........custom-spinner.
 *
 * Widgets
 * Popular Post..........Popular Post Elements
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/



/**
 * Global Variables (Optional - Remove anything that's not being used)
 */

:root {

}



/**
 * Document
 */

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column; /* used to affix footer to bottom of page */
    min-height: 100vh;
}

/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.aligncenter {
    display: table;
 }

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.alignnone,
 .wp-caption.aligncenter {
     margin: 0;
     width: auto !important; /* to overwrite inline widths */
 }

 img.alignright,
 .wp-caption.alignright,
 img.alignleft,
 .wp-caption.alignleft {
     height: auto;
     max-width: 50%;
 }

 img.alignnone,
 .wp-caption.alignnone img,
 img.aligncenter,
 .wp-caption.aligncenter img {
     height: auto;
     max-width: 100%;
 }

 img.alignnone,
 .wp-caption.alignnone,
 img.aligncenter,
 .wp-caption.aligncenter { margin: 0 0 22px 0; }

 img.alignright,
 .wp-caption.alignright {
     float: right;
     margin: 0 0 22px 30px;
 }

 img.alignleft,
 .wp-caption.alignleft {
     float: left;
     margin: 0 30px 22px 0;
 }

 img.aligncenter,
 .wp-caption.aligncenter img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
 }

 .wp-caption-text {
    caption-side: bottom;
    display: table-caption;
 }

 iframe,
 img {
     max-width: 100%;
 }

 /* Fade-in for lazyloaded images */
 .will-lazyload {
     opacity: 0;
     transition: opacity .25 linear;
 }

 .will-lazyload.lazyloaded {
     opacity: 1;
 }

 /**
   * Button Animations
   */

 /*
  - Please set up button animations
  */

.btn--opacity {
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .btn--opacity:hover {
            opacity: 0.7;
        }
    }

/**
  * Colors
  */

/*
 - Please set up text colors and background colors
 - Set up color styling based on styles found in .xd file under Assets > Character Styles
 */

/**
  * Background Colors
  */
.bg-color--blue { background-color: #081D58; }

.bg-color--green { background-color: #1D6420; }

.bg-color--yellow { background-color: #FFCE00; }

.bg-color--orange { background-color: #FC4A1A; }

.bg-color--white { background-color: #FFF; }

.bg-color--lightblue { background-color: #C2D5E6; }
/**
  * Typography
  */

/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */
@font-face {
    font-family: 'applegate-icons';
    src: url('/wp-content/themes/applegaterecovery/assets/fonts/applegate-icons.eot') format('eot');
    src: url('/wp-content/themes/applegaterecovery/assets/fonts/applegate-icons.ttf') format('woff'),
         url('/wp-content/themes/applegaterecovery/assets/fonts/applegate-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'applegate-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-blog:before {
  content: "\e902";
}

.icon-long-arrow-right:before {
  content: "\e903";
}

.icon-logo:before {
  content: "\e904";
}

.icon-long-arrow-down:before {
  content: "\e905";
}

.icon-long-arrow-up:before {
  content: "\e906";
}

.icon-star:before {
  content: "\e907";
}

.icon-long-arrow-left:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e909";
}

.icon-fas:before {
  content: "\e90a";
}

.icon-linkedin:before {
  content: "\e90b";
}

.icon-arrow-down:before {
  content: "\e90c";
}

.icon-arrow-left:before {
  content: "\e90d";
}

.icon-arrow-right:before {
  content: "\e90e";
}

.icon-arrow-up:before {
  content: "\e90f";
}

.icon-blog1:before {
  content: "\e910";
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
}

h1, .h1 {
    font-size: 40px;
    line-height: 1.61em;
    color: #0C2048;
}

h2, .h2 {
    font-size: 40px;
    line-height: 1.31em;
    color: #0C2048;
}

h3, .h3 {
    font-size: 28px;
    line-height: 1.41em;
    color: #0C2048;
}

h4, .h4 {
    position: relative;
    padding-left: 50px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.45em;
    font-weight: 600;
    color: #1D6420;
    letter-spacing: 0.05em;
}

h4.leaf::before,
.h4.leaf::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 37.8px;
    width: 100%;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h5, .h5 {
    font-size: 14.5px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    color: #fff;
}

@media (min-width: 768px) {
    h1, .h1 {
        font-size: 60px;
    }

    h2, .h2 {
        font-size: 44px;
        line-height: 1.3em;
    }

    h3, .h3 {
        font-size: 28px;
    }

    h4, .h4 {
        font-size: 22px;
    }
}

@media (min-width: 1025px) {
    h1, .h1 {
        font-size: 80px;
    }

    h2, .h2 {
        font-size: 44px;
    }

    h3, .h3 {
        font-size: 28px;
    }

    h4, .h4 {
        font-size: 23px;
    }
}

p, ul, ol {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    color: #505050;
    margin: 0;
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/**
  * Wrappers
  */

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
}

@media (min-width: 768px) {
    .container,
    .container-fluid {
        padding-left: 85px;
        padding-right: 85px;
    }
}

@media (min-width: 1025px) {
    .container,
    .container-fluid {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.container {
	max-width: 1366px;
}



/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */

  .row {
    margin-left: -16px;
    margin-right: -16px;
}

    [class*="col-"] {
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px;
    }

/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] { float:left; }

.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9  { width: 75%; }
.col-xxs-8  { width: 66.66666667%; }
.col-xxs-7  { width: 58.33333333%; }
.col-xxs-6  { width: 50%; }
.col-xxs-5  { width: 41.66666667%; }
.col-xxs-4  { width: 33.33333333%; }
.col-xxs-3  { width: 25%; }
.col-xxs-2  { width: 16.66666667%; }
.col-xxs-1  { width: 8.33333333%; }

.col-xxs-pull-12 { right: 100%; }
.col-xxs-pull-11 { right: 91.66666667%; }
.col-xxs-pull-10 { right: 83.33333333%; }
.col-xxs-pull-9  { right: 75%; }
.col-xxs-pull-8  { right: 66.66666667%; }
.col-xxs-pull-7  { right: 58.33333333%; }
.col-xxs-pull-6  { right: 50%; }
.col-xxs-pull-5  { right: 41.66666667%; }
.col-xxs-pull-4  { right: 33.33333333%; }
.col-xxs-pull-3  { right: 25%; }
.col-xxs-pull-2  { right: 16.66666667%; }
.col-xxs-pull-1  { right: 8.33333333%; }
.col-xxs-pull-0  { right: auto; }

.col-xxs-push-12 { left: 100%; }
.col-xxs-push-11 { left: 91.66666667%; }
.col-xxs-push-10 { left: 83.33333333%; }
.col-xxs-push-9  { left: 75%; }
.col-xxs-push-8  { left: 66.66666667%; }
.col-xxs-push-7  { left: 58.33333333%; }
.col-xxs-push-6  { left: 50%; }
.col-xxs-push-5  { left: 41.66666667%; }
.col-xxs-push-4  { left: 33.33333333%; }
.col-xxs-push-3  { left: 25%; }
.col-xxs-push-2  { left: 16.66666667%; }
.col-xxs-push-1  { left: 8.33333333%; }
.col-xxs-push-0  { left: auto; }

.col-xxs-offset-12 { margin-left: 100%; }
.col-xxs-offset-11 { margin-left: 91.66666667%; }
.col-xxs-offset-10 { margin-left: 83.33333333%; }
.col-xxs-offset-9  { margin-left: 75%; }
.col-xxs-offset-8  { margin-left: 66.66666667%; }
.col-xxs-offset-7  { margin-left: 58.33333333%; }
.col-xxs-offset-6  { margin-left: 50%; }
.col-xxs-offset-5  { margin-left: 41.66666667%; }
.col-xxs-offset-4  { margin-left: 33.33333333%; }
.col-xxs-offset-3  { margin-left: 25%; }
.col-xxs-offset-2  { margin-left: 16.66666667%; }
.col-xxs-offset-1  { margin-left: 8.33333333%; }
.col-xxs-offset-0  { margin-left: 0; }

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {float:left;}

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666667%; }
    .col-xs-10 { width: 83.33333333%; }
    .col-xs-9  { width: 75%; }
    .col-xs-8  { width: 66.66666667%; }
    .col-xs-7  { width: 58.33333333%; }
    .col-xs-6  { width: 50%; }
    .col-xs-5  { width: 41.66666667%; }
    .col-xs-4  { width: 33.33333333%; }
    .col-xs-3  { width: 25%; }
    .col-xs-2  { width: 16.66666667%; }
    .col-xs-1  { width: 8.33333333%; }

    .col-xs-pull-12 { right: 100%; }
    .col-xs-pull-11 { right: 91.66666667%; }
    .col-xs-pull-10 { right: 83.33333333%; }
    .col-xs-pull-9  { right: 75%; }
    .col-xs-pull-8  { right: 66.66666667%; }
    .col-xs-pull-7  { right: 58.33333333%; }
    .col-xs-pull-6  { right: 50%; }
    .col-xs-pull-5  { right: 41.66666667%; }
    .col-xs-pull-4  { right: 33.33333333%; }
    .col-xs-pull-3  { right: 25%; }
    .col-xs-pull-2  { right: 16.66666667%; }
    .col-xs-pull-1  { right: 8.33333333%; }
    .col-xs-pull-0  { right: auto; }

    .col-xs-push-12 { left: 100%; }
    .col-xs-push-11 { left: 91.66666667%; }
    .col-xs-push-10 { left: 83.33333333%; }
    .col-xs-push-9  { left: 75%; }
    .col-xs-push-8  { left: 66.66666667%; }
    .col-xs-push-7  { left: 58.33333333%; }
    .col-xs-push-6  { left: 50%; }
    .col-xs-push-5  { left: 41.66666667%; }
    .col-xs-push-4  { left: 33.33333333%; }
    .col-xs-push-3  { left: 25%; }
    .col-xs-push-2  { left: 16.66666667%; }
    .col-xs-push-1  { left: 8.33333333%; }
    .col-xs-push-0  { left: auto; }

    .col-xs-offset-12 { margin-left: 100%; }
    .col-xs-offset-11 { margin-left: 91.66666667%; }
    .col-xs-offset-10 { margin-left: 83.33333333%; }
    .col-xs-offset-9  { margin-left: 75%; }
    .col-xs-offset-8  { margin-left: 66.66666667%; }
    .col-xs-offset-7  { margin-left: 58.33333333%; }
    .col-xs-offset-6  { margin-left: 50%; }
    .col-xs-offset-5  { margin-left: 41.66666667%; }
    .col-xs-offset-4  { margin-left: 33.33333333%; }
    .col-xs-offset-3  { margin-left: 25%; }
    .col-xs-offset-2  { margin-left: 16.66666667%; }
    .col-xs-offset-1  { margin-left: 8.33333333%; }
    .col-xs-offset-0  { margin-left: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {float:left;}

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9  { width: 75%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-6  { width: 50%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-3  { width: 25%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-1  { width: 8.33333333%; }

    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9  { right: 75%; }
    .col-sm-pull-8  { right: 66.66666667%; }
    .col-sm-pull-7  { right: 58.33333333%; }
    .col-sm-pull-6  { right: 50%; }
    .col-sm-pull-5  { right: 41.66666667%; }
    .col-sm-pull-4  { right: 33.33333333%; }
    .col-sm-pull-3  { right: 25%; }
    .col-sm-pull-2  { right: 16.66666667%; }
    .col-sm-pull-1  { right: 8.33333333%; }
    .col-sm-pull-0  { right: auto; }

    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9  { left: 75%; }
    .col-sm-push-8  { left: 66.66666667%; }
    .col-sm-push-7  { left: 58.33333333%; }
    .col-sm-push-6  { left: 50%; }
    .col-sm-push-5  { left: 41.66666667%; }
    .col-sm-push-4  { left: 33.33333333%; }
    .col-sm-push-3  { left: 25%; }
    .col-sm-push-2  { left: 16.66666667%; }
    .col-sm-push-1  { left: 8.33333333%; }
    .col-sm-push-0  { left: auto; }

    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-0  { margin-left: 0; }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {float:left;}

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }

    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9  { right: 75%; }
    .col-md-pull-8  { right: 66.66666667%; }
    .col-md-pull-7  { right: 58.33333333%; }
    .col-md-pull-6  { right: 50%; }
    .col-md-pull-5  { right: 41.66666667%; }
    .col-md-pull-4  { right: 33.33333333%; }
    .col-md-pull-3  { right: 25%; }
    .col-md-pull-2  { right: 16.66666667%; }
    .col-md-pull-1  { right: 8.33333333%; }
    .col-md-pull-0  { right: auto; }

    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9  { left: 75%; }
    .col-md-push-8  { left: 66.66666667%; }
    .col-md-push-7  { left: 58.33333333%; }
    .col-md-push-6  { left: 50%; }
    .col-md-push-5  { left: 41.66666667%; }
    .col-md-push-4  { left: 33.33333333%; }
    .col-md-push-3  { left: 25%; }
    .col-md-push-2  { left: 16.66666667%; }
    .col-md-push-1  { left: 8.33333333%; }
    .col-md-push-0  { left: auto; }

    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {float:left;}

    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }

    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9  { right: 75%; }
    .col-lg-pull-8  { right: 66.66666667%; }
    .col-lg-pull-7  { right: 58.33333333%; }
    .col-lg-pull-6  { right: 50%; }
    .col-lg-pull-5  { right: 41.66666667%; }
    .col-lg-pull-4  { right: 33.33333333%; }
    .col-lg-pull-3  { right: 25%; }
    .col-lg-pull-2  { right: 16.66666667%; }
    .col-lg-pull-1  { right: 8.33333333%; }
    .col-lg-pull-0  { right: auto; }

    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9  { left: 75%; }
    .col-lg-push-8  { left: 66.66666667%; }
    .col-lg-push-7  { left: 58.33333333%; }
    .col-lg-push-6  { left: 50%; }
    .col-lg-push-5  { left: 41.66666667%; }
    .col-lg-push-4  { left: 33.33333333%; }
    .col-lg-push-3  { left: 25%; }
    .col-lg-push-2  { left: 16.66666667%; }
    .col-lg-push-1  { left: 8.33333333%; }
    .col-lg-push-0  { left: auto; }

    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }
}



/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after { clear: both; }



/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.

     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */

.btn {
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 1.71em;
    letter-spacing: 0.1em;
    padding: 16px 25px;
    background-color: #F36B24;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.btn-secondary {
    background-color: #2F91D1;
}

.btn-tertiary {
    background-color: #1D6420;
    border: 2px solid #1D6420;
}

    @media (min-width: 1025px) {
        .btn-tertiary:hover {
            background-color: transparent;
            color: #1D6420;
        }
    }

.btn-quaternary {
    color: #fff;
    background-color: #081D58;
    border: 2px solid #081D58;
}

    @media (min-width: 1025px) {
        .btn-quaternary:hover {
            background-color: transparent;
            color: #081D58;
        }
    }
/**
 * Outlined Buttons
 */

.btn-outlined {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    padding: 11px 11px 11px 32px;
    border-radius: 34px;
    border: 2px solid #FC4A1A;
    color: #FC4A1A;
    text-decoration: none;
    transition: all 0.25s ease-in-out !important;
}

.btn-outlined .btn-arrow {
    transition: all 0.25s ease-in-out !important;
}

.btn-outlined-secondary {
    border: 2px solid #1D6420;
    color: #1D6420;
}

.btn-outlined-tertiary {
    border: 2px solid #081D58 !important;
    color: #081D58;
}

    @media (min-width: 1025px) {
        .btn-outlined-tertiary:hover {
            background-color: #081D58;
            color: #fff;
        }
    }

.btn-outlined-tertiary .btn-arrow {
    background-color: #081D58;
}
    @media (min-width: 1025px) {
        .btn-outlined-tertiary:hover .btn-arrow {
            background-color: rgba(255,255,255,0.25);
        }
    }

/**
 * Filled Buttons
 */

.btn-filled {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    padding: 11px 11px 11px 32px;
    border-radius: 34px;
    border: 2px solid #FC4A1A;
    background-color: #FC4A1A;
    color: #FFF !important;
    text-decoration: none;
    transition: all 0.25s ease-in-out !important;
}
    @media (min-width: 1025px) {
        .btn-filled:hover {
            background-color: #fff;
            border-color: #fff !important;
            color: #FC4A1A !important;
        }

        .btn-filled.btn-filled--whitebg:hover {
            background-color: #fff;
            border-color: #FC4A1A !important;
        }
    }

    .btn-filled .btn-arrow {
        background-color: rgba(255,255,255,0.25);
        transition: all 0.25s ease-in-out;
    }

    @media (min-width: 1025px) {
        .btn-filled:hover .btn-arrow {
            background-color: #FC4A1A;
        }
    }

.btn-filled-secondary {
    border: 2px solid #1D6420 !important;
    background-color: #1D6420;
}

    @media (min-width: 1025px) {
        .btn-filled-secondary:hover {
            background-color: transparent;
            border-color: #1D6420 !important;
            color: #1D6420 !important;
        }

        .btn-filled-secondary:hover .btn-arrow{
            background-color: #1D6420;
        }
    }

.btn-filled-tertiary {
    border: 2px solid #081D58 !important;
    background-color: #081D58;
}

    @media (min-width: 1025px) {
        .btn-filled-tertiary:hover {
            background-color: #fff;
            border-color: #fff !important;
            color: #081D58 !important;
        }

        .btn-filled-tertiary.btn-filled--whitebg:hover {
            background-color: #fff;
            border-color: #081D58 !important;
        }

        .btn-filled-tertiary:hover .btn-arrow {
            background-color: #081D58;
        }
    }

.btn-filled-quaternary {
    border: 2px solid #FFF !important;
    background-color: #FFF;
    color: #FC4A1A !important;
}

    @media (min-width: 1025px) {
        .btn-filled-quaternary:hover {
            background-color: #FC4A1A;
            border-color: #FC4A1A !important;
            color: #fff !important;
        }
    }

.btn-filled-quaternary .btn-arrow {
    background-color: #FC4A1A;
}

    @media (min-width: 1025px) {
        .btn-filled-quaternary:hover .btn-arrow {
            background-color: rgba(255,255,255,0.25);
        }
    }

/**
 * Arrows inside buttons
 */
.btn-arrow {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .btn-arrow {
        margin-left: 15px;
    }
}

@media (min-width: 1025px) {
    .btn-arrow {
        margin-left: 20px;
    }
}

.btn-arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 13.67px;
    width: 100%;
}

.btn-icon--white {
    filter: invert(99%) sepia(0%) saturate(1754%) hue-rotate(143deg) brightness(114%) contrast(100%);
}

.arrow-key--right {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-top: 2px solid #1D6420;
    border-right: 2px solid #1D6420;
    transform: rotate(45deg);
    margin-left: 6px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn + .btn {
	margin-top: 5px; /* Add margin-top when 2 buttons are next to each other */
}

@media (min-width: 600px) {

    .btn + .btn {
		margin-top: 0;
		margin-left: 5px;
	}

}



/**
 * Icons
 */

/* add icon code here */

/**
 * Pagination
 */

 .pagination {
     padding-top: 60px;
 }

 .pagination-wrapper {
     max-width: 100%;
     width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 @media (min-width: 1025px) {
     .pagination-wrapper {
         justify-content: flex-start;
     }
 }

 .pag-list {
     list-style-type: none;
     padding-left: 0;
     display: flex;
 }

 .pag__link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 32px;
     height: 32px;
     background-color: #DADDE6;
     color: #081D58;
     border-radius: 50%;
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     font-size: 17px;
     letter-spacing: 0.05em;
     transition: all 0.25s ease-in-out;
     margin-right: 8px;
     cursor: pointer;
 }

     @media (min-width: 1025px) {
         .pag__link:hover {
             background-color: #081D58;
             color: #fff;
         }
     }

     .pag-item:last-child .pag__link {
         margin-right: 0;
     }

 .pag__link.active {
     background-color: #081D58;
     color: #fff;
 }

 .pag-next,
 .pag-prev {
     max-width: 11.8px;
     width: 100%;
     transition: all 0.25s ease-in-out;
     cursor: pointer;
 }

     @media (min-width: 1025px) {
         .pag-next:hover,
         .pag-prev:hover {
             opacity: 0.5;
         }
     }

 .pag-prev {
     transform: rotate(180deg);
     margin-right: 16px;
 }

 .pag-next {
     margin-left: 16px;
 }

 /**
  * Search Results Page
  */
 .search-section {
     padding-top: 60px;
 }

 .search-result {
     display: block;
     border-bottom: 1px solid #ddd;
     padding-bottom: 20px;
     margin-bottom: 20px;
 }

 .search-result__link {
     display: inline-block;
     border-radius: 34px;
 }

 /**
  * Search Bar
  */

 .search-bar {
     width: 100%;
     padding: 30px 35px 60px;
     transition: all 0.25s ease-in-out;
 }

 @media (min-width: 1025px) {
     .search-bar {
         padding-top: 60px;
         padding-bottom: 90px;
     }
 }

 .search-bar-wrapper {
     max-width: 816px;
     width: 100%;
     margin: 0 auto;
     background-color: rgba(218,221,230,0.27);
     border: 0.5px solid rgba(8,29,88,0.27);
     border-radius: 34px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 11px 11px 11px 30px;
 }

 .search__error {
     display: none;
     max-width: 816px;
     width: 100%;
     padding-top: 10px;
     margin: 0 auto;
     color: red;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
     font-weight: 400;
 }

 .search-bar__icon {
     max-width: 19px;
     width: 100%;
     flex-shrink: 0;
 }

 .search-bar__link {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 17px 15px;
     border-radius: 50%;
     flex-shrink: 0;
     transition: opacity 0.25s ease-in-out;
 }

 @media (min-width: 1025px) {
     .search-bar__link:hover {
         opacity: 0.5;
     }
 }

 .search-bar__search {
     display: block;
     width: 100%;
     padding: 10px;
     border: none;
     background-color: transparent;
     outline: none;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     color: #081D58;
 }

     .search-bar__search:focus {
         border: none;
         outline: none;
     }

     .search-bar__search::placeholder {
         color: #081D58;
     }

 .search-bar__link img {
     max-width: 13.67px;
 }

/*
 * custom-spinner
 */
 .custom-spinner::before {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     border: 5px solid #f3f3f3; /* Light grey */
     border-top: 5px solid #021036; /* Blue */
     border-radius: 50%;
     width: 50px;
     height: 50px;
     animation: spin 2s linear infinite;
     z-index: 3;
 }

 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

/**
 * Popular Post Widgets
 */
.widget-popular-posts h3 {
    padding-bottom: 20px;
}

.widget-popular-posts ul {
    list-style-type: none;
    padding-left: 0;
}

.widget-popular-posts li {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
}

.widget-popular-posts a {
    text-decoration: none;
    color: #0C2048;
    transition: color 0.25 ease-in-out;
}

    @media (min-width: 1025px) {
        .widget-popular-posts a:hover {
            color: #FC4A1A;
        }
    }

/**
 * Sitemap
 */
.wsp-container h2 {
    font-size: 30px;
    margin: 20px 0 10px;
}

.wsp-container ul li {
    margin-bottom: 10px;
}

.wsp-container ul li ul {
    margin: 15px 0;
}
