/*------------------------------------*\

    Header CSS

    eg: Header, Navigation, Ubermenu, Masthead
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

.admin-bar .header {
    top: 32px;
}

@media screen and (max-width: 782px) {
    .admin-bar .header {
        top: 46px;
    }
}

#wpadminbar {
    position: fixed !important;
}

/**
 * Page-head
 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
    z-index: 4;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
}

@media (min-width: 1025px) {
    .header {
        position: static;
    }
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

@media (min-width: 768px) {
    .header-wrapper {
        padding: 15px 22px;
    }
}

@media (min-width: 1025px) {
    .header-wrapper {
        align-items: center;
        max-width: 1366px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/**
 * Header Logo Element
 */

.header-logo {
    display: inline-block;
    max-width: 150px;
    width: 100%;
}

@media (min-width: 768px) {
    .header-logo {
        max-width: 230px;
    }
}

@media (min-width: 1025px) {
    .header-logo {
        max-width: 307px;
    }
}

.header-logo img {
    width: 100%;
    height: auto !important;
}

/**
 * Wrapping Element for Desktop Nav
 */
.header-desktop {
    display: none;
}

@media (min-width: 1025px) {
    .header-desktop {
        display: block;
        flex-shrink: 0;
        padding-left: 15px;
    }
}

/**
 * Header Desktop Top
 */
.header-desktop-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.header-desktop-top-item {
    margin-right: 30px;
}

    .header-desktop-top-item:nth-child(3) {
        margin-right: 45.5px;
    }

    .header-desktop-top-item:last-child {
        margin-right: 0;
    }

.header-desktop__number {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header-desktop__category {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.header-desktop__category img {
    max-width: 22px;
    width: 100%;
    margin-right: 8px;
}

.header-desktop__category.icon--small img {
    max-width: 17.30px;
    width: 100%;
}

.header-desktop__search {
    position: relative;
    display: block;
    max-width: 19px;
    width: 100%;
    cursor: pointer;
}

.header-desktop__search.active::before,
.header-desktop__search.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 22px;
    background-color: #bbb;
    transition: all 0.25s ease-in-out;
}

.header-desktop__search.active::before {
    transform: translateX(-50%) rotate(45deg);
}

.header-desktop__search.active::after {
    transform: translateX(-50%) rotate(-45deg);
}

@media (min-width: 1025px) {
    .header-desktop__search.active:hover::before,
    .header-desktop__search.active:hover::after {
        background-color: #0C2048;
    }
}

.header-desktop__search img {
    transition: all 0.25s ease-in-out;
}

.header-desktop__search.active img {
    opacity: 0;
    visibility: hidden;
}

/**
 * Header Desktop Down
 */

.header-desktop-down {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.header-desktop-down > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.header-desktop-down > ul > li > a {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #081D58;
    padding-bottom: 5px;
    border-bottom: 2.5px solid #fff;
    transition: all 0.25s ease-in-out;
}

.header-desktop-down > ul > li {
    margin-right: 32px;
}

    .header-desktop-down ul > li:last-child {
        margin-right: 0;
    }

@media (min-width: 1025px) {
    .header-desktop-down > ul > li:hover > a {
        color: #FC4A1A;
    }
}

.header-desktop-down > ul > li.menu-item-has-children {
    position: relative;
}

@media (min-width: 1025px) {
    .header-desktop-down > ul > li.menu-item-has-children:hover > a  {
        border-bottom: 2.5px solid #081D58;
    }
}

.header-desktop-down > ul > li > ul a {
    text-decoration: none;
    border-bottom: 1px solid #DADDE6;
    color: #081D58;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: color 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .header-desktop-down > ul > li > ul a:hover {
            color: #FC4A1A;
        }
    }

.header-desktop-down > ul > li.menu-item-has-children > ul li:first-child a {
    padding-top: 0;
}

.header-desktop-down > ul > li.menu-item-has-children > ul li:last-child a {
    border-bottom: none;
    padding-bottom: 0;
}



.header-desktop-down > ul > li.menu-item-has-children ul {
    position: absolute;
    top: 150%;
    width: 250px;
    list-style-type: none;
    padding: 15px 0 15px 30px;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

@media (min-width: 1025px) {
    .header-desktop-down > ul > li.menu-item-has-children:hover > ul {
        opacity: 1;
        z-index: 3;
        visibility: visible;
    }
}

.header-desktop-down > ul > li.menu-item-has-children > ul > li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-desktop-down > ul:last-child {
    margin-right: 25px;
}

/**
 * Tier 3
 */

.header-desktop-down > ul > li.menu-item-has-children > ul li {
    padding-right: 30px;
}

.header-desktop-down > ul > li.menu-item-has-children > ul > li.menu-item-has-children {
    position: relative;
}

.header-desktop-down > ul > li.menu-item-has-children > ul > li.menu-item-has-children ul {
    top: -5px;
    left: 100%;
}

    .header-desktop-down > ul > li.menu-item-has-children > ul > li.menu-item-has-children:hover ul {
        opacity: 1;
        z-index: 3;
        visibility: visible;
    }

.header-desktop-down > ul > li.menu-item-has-children > ul > li.menu-item-has-children ul > li:last-child > a {
    border-bottom: none;
}

.header-desktop__contact {
    margin-left: 30px;
    padding: 10px 15px;
    border-radius: 30px;
    color: #fff;
    border-bottom: 2px solid #1D6420;
    font-weight: 700;
}

/**
 * Wrapping Element for Mobile Nav
 */

.header-mobile {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1025px) {
    .header-mobile {
        display: none;
    }
}

/**
 * Header Mobile Search
 */

.header-mobile .header-search {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 26px;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 25px;
    flex-shrink: 0;
    cursor: pointer;
}

.header-mobile .header-search.active::before,
.header-mobile .header-search.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 30px;
    background-color: #bbb;
}

.header-mobile .header-search.active::before {
    transform: rotate(45deg) translateX(-50%);
}

.header-mobile .header-search.active::after {
    top: -2px;
    transform: rotate(-45deg) translateX(-50%);
}

.header-mobile .header-search img {
    width: 100%;
    transition: 0.25s ease-in-out;
}

.header-mobile .header-search.active img {
    opacity: 0;
    visibility: hidden;
}

/**
 * Header Mobile Hamburger
 */

.header-hamburger {
    max-width: 28px;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    flex-shrink: 0;
    min-height: 31.7px;
    transition: all 0.15s ease-in-out;
}

.header-hamburger__line {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 20%;
    margin-bottom: 5.3px;
    transition: all 0.15s ease-in-out;
}

.header-hamburger__text {
    font-size: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: all 0.15s ease-in-out;
}

.header-hamburger .margin-btm--zero {
    margin-bottom: 0
}

.header-hamburger.active {
    position: relative;
}

.header-hamburger.active .header-hamburger__line {
    position: absolute;
    top: 50%;
    left: 0;
}

.header-hamburger.active .header-hamburger__line:first-child {
    margin-bottom: 0;
    transform: translateY(-50%) rotate(45deg);
}

.header-hamburger.active .header-hamburger__line:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.header-hamburger.active .header-hamburger__text {
    position: absolute;
    opacity: 0;
    left: 0;
}

/**
 * Header Mobile Dropdown
 */

.header-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

@media (min-width: 1025px) {
    .header-dropdown {
        display: none;
    }
}

.header-dropdown.active {
    opacity: 1;
    z-index: 3;
    visibility: visible;
    overflow-y: auto;
    max-height: calc(100vh - 76.28px);
}

.admin-bar .header-dropdown {
    max-height: calc(100vh - (76.28px + 46px)) !important;
    overflow-y: auto;
}

.header-dropdown > ul {
    list-style-type: none;
    padding: 20px 22px 32px;
}

.header-dropdown > ul > li {
    margin-top: 32px;
}

    .header-dropdown > ul > li:first-child {
        margin-top: 0;
    }

    .header-dropdown > ul > li:last-child {
        margin-top: 40px;
    }

.header-dropdown > ul > li a {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #081D58;
    text-decoration: none;
    cursor: pointer;
}

.header-dropdown > ul > li > a {
    position: relative;
    padding-right: 15px;
    text-decoration: none;
    display: block;
}

.header-dropdown > ul > li.menu-item-has-children,
.header-dropdown > ul > li.menu-item-has-children ul > li.menu-item-has-children {
    position: relative;
}

.header-dropdown > ul > li.menu-item-has-children > span,
.header-dropdown > ul > li.menu-item-has-children ul > li.menu-item-has-children > span {
    position: absolute;
    right: 0;
    top: 12px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    z-index: 99;
    cursor: pointer;
}

.header-dropdown > ul > li.menu-item-has-children ul > li.menu-item-has-children > span {
    top: 26px;
}

.header-dropdown > ul > li.menu-item-has-children > span::before,
.header-dropdown > ul > li.menu-item-has-children ul > li.menu-item-has-children > span::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    background-color: #081D58;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}

.header-dropdown > ul > li.menu-item-has-children > span::after,
.header-dropdown > ul > li.menu-item-has-children ul > li.menu-item-has-children > span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
    width: 20px;
    height: 3px;
    background-color: #081D58;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}

.menu-item-has-children > span.active::before{
    opacity: 0;
}

.menu-item-has-children > span.active::after{
    transform: rotate(0) !important;
}

.header-dropdown > ul > li.menu-item-has-children > a {
    position: relative;
}

.header-dropdown > ul > li .sub-menu {
    margin-top: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border-top: 2.5px solid #081D58;
    list-style-type: none;
    background-color: #F7F7F7;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.header-dropdown > ul > li .sub-menu.active {
    height: auto;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.header-dropdown > ul > li .sub-menu a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    border-bottom: 1px solid #DADDE6;
}

    .header-dropdown > ul > li .sub-menu li:last-child a{
        border-bottom: none;
    }

.header-dropdown__button {
    display: inline-block !important;
    padding: 10px 22px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 40px;
    border-radius: 34px;
    color: #fff !important;
}

.current_page_ancestor > a,
.current_page_item > a {
    color: #FC4A1A !important;
}


/**
 * Header Search Bar
 */
.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    padding: 15px 22px 30px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

@media (min-width: 1025px) {
    .header-bar {
        padding-top: 26px;
        padding-bottom: 48px;
    }
}

.header-bar.active {
    position: fixed;
    top: 76px;
    z-index: 4;
    opacity: 1;
}

.admin-bar .header-bar.active {
    top: 122px !important;
}

@media (min-width: 768px) {
    .admin-bar .header-bar.active {
        top: 110px !important;
    }
}

@media (min-width: 1025px) {
    .header-bar.active {
        position: absolute;
        top: 117px;
    }

    .admin-bar .header-bar.active {
        top: 150px !important;
    }
}


.header-bar-wrapper {
    max-width: 816px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(218,221,230,0.27);
    border: 0.5px solid rgba(8,29,88,0.27);
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 11px 11px 30px;
}

.header-bar__icon {
    max-width: 19px;
    width: 100%;
    flex-shrink: 0;
}

.header-bar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 15px;
    border-radius: 50%;
    flex-shrink: 0;
    border-color: #081D58;
}

.header-bar__search {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #081D58;
}

    .header-bar__search:focus {
        border: none;
        outline: none;
    }

    .header-bar__search::placeholder {
        color: #081D58;
    }

.header-bar__link img {
    max-width: 13.67px;
}

.admin-bar .header {
    top: 32px;
}

@media screen and (max-width: 782px) {
    .admin-bar .header {
        top: 46px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 1024px) {
    .header .header-logo img {
        display: none;
    }

    .header .header-logo {
        background: url('https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/08/desktop-logo.svg');
        background-size: 307px 63px;
        display: inline-block;
        height: 63px;
        width: 307px;
    }

    .header-sticky .header-logo img {
        display: none;
    }

    .header-sticky .header-logo {
        background: url('https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/08/desktop-logo.svg');
        background-size: 226px 47px;
        display: inline-block;
        height: 47px;
        width: 226px;
    }

}

.header-sticky {
    display: none;
}

@media( min-width: 1025px ) {
    .header-sticky {
        display: block;
        position: fixed;;
        top: -100px;
        left: 0;
        z-index: 4;
        width: 100%;
        background-color: #fff;
        opacity: 0;
        transition: all 0.25s ease-in-out;
        box-shadow: 0px -10px 30px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px -10px 30px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px -10px 30px 0px rgba(0,0,0,0.5);
    }

    .admin-bar .header-sticky.sticky {
        top: 32px !important;
    }

    .header-sticky.sticky {
        top: 0;
        opacity: 1;
    }

    .header-sticky-wrapper {
        max-width: 1366px;
        width: 100%;
        padding: 16px 22px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-sticky .header-logo {
        max-width: 226px;
        width: 100%;
    }

    .header-sticky .header-desktop-down {
        padding-top: 0;
        padding-left: 16px;
        flex-shrink: 0;
    }

    .header-sticky .header-desktop-down-list {
        padding-top: 0;
        padding-left: 0;
    }
}

/**
 * Masthead
 */

.masthead {
    position: relative;
    margin-top: 76.28px;
    padding-top: 80px;
    padding-bottom: 180px;
    background-color: #081D58;
    overflow: hidden;
}

@media( min-width: 768px ) {
    .masthead {
        margin-top: 81.5px;
    }
}

@media( min-width: 1025px ) {
    .masthead {
        margin-top: 0;
        padding-top: 50px;
        padding-bottom: 150px;
    }
}

.masthead h1 {
    font-size: 40px;
    line-height: 1.2em;
}

@media( min-width: 768px ) {
    .masthead h1 {
        font-size: 60px;
    }
}

@media( min-width: 1025px ) {
    .masthead h1 {
        font-size: 80px;
    }
}

.masthead__outline {
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

@media( min-width: 768px ) {
    .masthead__outline {
        height: 300px;
        bottom: -100px;
    }
}

@media( min-width: 1025px ) {
    .masthead__outline {
        height: 400px;
        bottom: -150px;
    }
}

/**
 * Breadcrumbs
 */

.breadcrumbs {
    display: none;
}

@media( min-width: 768px ) {
    .breadcrumbs {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style-type: none;
        margin-top: 25px;
    }

    .breadcrumbs li {
        display: inline;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        text-transform: uppercase;
    }

    .breadcrumbs li a {
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
        color: #fff;
        transition: color 0.25s ease-in-out;
        text-transform: uppercase;
    }

        @media (min-width: 1025px) {
            .breadcrumbs li a:hover {
                color: #FC4A1A;
            }
        }

   .breadcrumbs li span {
       padding-left: 5px;
       padding-right: 5px;
   }
}

@media( min-width: 1025px ) {
    .breadcrumbs {
        margin-top: 20px;
    }
}
