/*------------------------------------*\

    Posts CSS

    Posts.................Post content for loop on blog homepage, category, search page, archives, etc.
    Sidebar...............Sidebar elements.

\*------------------------------------*/

/*
 * Blogs Main
 */
.blogs {
    padding-top: 50px;
    padding-bottom: 25px;
}

.blogs-wrapper {
    display: block;
}

@media (min-width: 1025px) {
    .blogs-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.blogs-main {
    position: relative;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 1025px) {
    .blogs-main {
        max-width: 70%;
    }
}

.blogs-main.spinner .blogs-box {
    opacity: 0.5;
}

.blogs-box {
    display: block;
    filter: drop-shadow(0px 0px 20px rgba(90, 103, 113, 0.3));
    background-color: #fff;
    text-decoration: none;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .blogs-box {
        margin-top: 35px;
    }
}

@media (min-width: 1025px) {
    .blogs-box {
        display: flex;
        justify-content: space-between;
        transition: transform 0.25s ease-in-out;
    }

    .blogs-box:hover .arrow-key--right {
        margin-left: 12px;
    }
}

    .blogs-box:first-child {
        margin-top: 0;
    }

.blogs__img {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.blogs__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .blogs__img {
        min-height: 250px;
    }
}

@media (min-width: 1025px) {
    .blogs__img {
        max-width: 50%;
        min-height: 300px;
    }
}

.blogs-content {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 14px 22px 28px;
}

@media (min-width: 1025px) {
    .blogs-content {
        max-width: 50%;
        padding: 30px 22px;
    }
}

.blogs-content h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.blogs-content p {
    padding-bottom: 56px;
}

.blogs-content__span {
    position: absolute;
    bottom: 28px;
    left: 22px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #1D6420;
}

.blogs-content__span span {
    transition: margin 0.25s ease-in-out;
}

/**
 * Sidebar
 */

/* Blog Sidebar */
.blogs-side {
    max-width: 100%;
    width: 100%;
}

@media (min-width: 1025px) {
    .blogs-side  {
        max-width: 25%;
    }
}

.blogs-search-bar {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.widget_block .container,
.widget_block .col-xxs-12,
.widget_block .row {
    padding: 0;
    margin: 0;
}

.widget_block h3 {
    padding-bottom: 28px;
}

.wp-block-categories-list {
    padding-left: 0;
    list-style: none;
}

.wp-block-categories-list li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 9px;
    margin-bottom: 9px;
}

.wp-block-categories-list li a {
    display: inline-block;
    text-decoration: none;
    color: #0C2048;
}

@media (min-width: 1025px) {
    .wp-block-categories-list li a:hover {
        color: #FC4A1A;
    }
}

.wp-block-categories-list .current-cat a {
    color: #FC4A1A !important;
}


/**
* FX Load More
*/

/* Load More Progress Bar */
.load-more__progress {
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    border: 0;
    border-radius: 0;
    min-width: 250px;
}
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    height: 10px;
    border: 0;
    border-radius: 0;
}
progress::-webkit-progress-bar {
    background-color: #ddd;
}
progress::-webkit-progress-value {
    background-color: #4a4a4a;
}

/* Loading Indicator */
.is-loading:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: #E3E3E3 #E3E3E3 transparent;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: simpleSpin 1.5s linear infinite;
    animation: simpleSpin 1.5s linear infinite;
}

/* Load More Button */
.load-more__btn {
    display: block;
    margin-top: 20px;
    border-radius: 34px;
}

.load-more__btn.is-loading {
    position: relative;
    opacity: 0.6;
    cursor: not-allowed;
}

.load-more__btn.is-loading:before {
    width: 20px;
    height: 20px;
}

/* Placeholder Space */
.placeholder-block {
    position: relative;
    display: flex;
}

.placeholder-block__inner {
    flex-grow: 1;
    background-color: #fafafa;
}

.placeholder-block.is-loading:before {
    width: 50px;
    height: 50px;
}

@-webkit-keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}


/* Search Results */
.search-result {
    text-decoration: none;
}

.search-result__title {
    margin-bottom: 16px;
}

.search-result__excerpt {
    margin-bottom: 20px;
}
