/* FAQ's Filter */

.faqs-nav {
    display: block;
    margin-bottom: 20px;
}

@media (min-width: 1025px) {
    .faqs-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.faqs-nav__title {
    font-size: 18px;
    font-weight: 600;
    color: #0C2048;
    margin-bottom: 15px;
}

@media (min-width: 1025px) {
    .faqs-nav__title {
        margin-right: 15px;
        margin-bottom: 0;
    }
}

@media (min-width: 1025px) {
    .faqs-btn-wrapper {
        display: flex;
    }
}

.faqs__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-bottom: 15px
}

@media (min-width: 1025px) {
    .faqs__btn {
        margin-right: 15px;
        margin-bottom: 0;
    }
}

.faqs__btn:hover .faqs__btn-circle {
    background-color: #FC4A1A;
}

.faqs__btn-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #0C2048;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.25s ease-in-out;
}

.faqs__btn-circle.active {
    background-color: #FC4A1A;
}

.faqs__btn-title {
    font-size: 18px;
    font-weight: 600;
    color: #0C2048;
}
