.fxa-accordion {
    position: relative;
    padding-top: 50px;
    margin-bottom: 30px;
}

.fxa-accordion__panel {
    margin-top: 10px;
}

    .fxa-accordion__panel:first-child {
        margin-top: 0;
    }

.fxa-accordion__panel__toggle {
    position: relative;
    list-style-type: none !important;
    display: block;
    color: inherit;
    line-height: normal;
    background: #f5f5f5;
    padding: 10px 35px 10px 20px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    color: #0C2048;
    font-size: 20px;
    line-height: 1.41em;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}


.fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle,
.fxa-accordion__panel__toggle:hover,
.fxa-accordion__panel__toggle:focus {
    background: #0C2048;
    color: #fff;
    text-decoration: none;
}

.fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #fff;
}

.fxa-accordion__panel .fxa-accordion__panel__toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 7.5px 0 7.5px;
    border-color: #374046 transparent transparent transparent;
}

.fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle:after {
    border-width: 0 7.5px 11px 7.5px;
    border-color: transparent transparent #fff transparent;
}

.fxa-accordion__panel:not(.is-expanded) .fxa-accordion__panel__content {
    display: none;
}

.fxa-accordion__panel__content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
    overflow: hidden;
}

.fxa-accordion__panel__content .container {
    padding: 0;
}

@media (min-width: 1025px) {
    .fxa-accordion__panel__content {
        position: relative;
        width: 100%;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 30px;
    }
}
