/*
 * Body
 */
body {
    background-color: #eee;
}

/*
 * Heading
 */
 h1, .h1,
 h2, .h2,
 h3, .h3,
 h4, .h4,
 h5, .h5,
 h6, .h6 {
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     margin: 0;
     padding-top: 8px;
     padding-bottom: 8px;
 }

 h1, .h1 {
     font-size: 40px;
     line-height: 1.61em;
     color: #0C2048;
 }

 h2, .h2 {
     font-size: 40px;
     line-height: 1.31em;
     color: #0C2048;
 }

 h3, .h3 {
     font-size: 28px;
     line-height: 1.41em;
     color: #0C2048;
 }

 h4, .h4 {
     position: relative;
     padding-left: 50px;
     font-size: 16px;
     text-transform: uppercase;
     line-height: 1.45em;
     font-weight: 600;
     color: #1D6420;
     letter-spacing: 0.05em;
 }

 p a {
     font-weight: 600;
     color: #0C2048;
 }

 .leaf--center {
     text-align: center;
 }

 .leaf--center h4 {
     display: inline-block;
 }

 h4.leaf::before,
 .h4.leaf::before {
     content: "";
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     max-width: 37.8px;
     width: 100%;
     height: 34px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     background-image: url("https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/09/logo-no-bg.svg");
 }

 h4.leaf.leaf--white {
     color: #fff;
 }

 h4.leaf.leaf--white::before,
 .h4.leaf.leaf--white::before {
     background-image: url("https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/09/logo-with-bg.svg");
 }


 h5, .h5 {
     font-size: 14.5px;
     font-weight: 700;
     font-family: 'Poppins', sans-serif;
     line-height: 1.5em;
     color: #fff;
 }

 p, ul, ol {
     font-size: 16px;
     font-family: 'Inter', sans-serif;
     line-height: 1.5em;
     color: #505050;
     margin: 0;
     padding-top: 8px;
     padding-bottom: 8px;
 }

blockquote {
    margin: 0;
}

blockquote > p {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    line-height: 1.77em;
    color: #1D6420;
}

ul {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}

li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

     li::before {
         content: "";
         position: absolute;
         top: 12px;
         left: 0;
         width: 9px;
         height: 9px;
         border-radius: 50%;
         background-color: #081D58;
     }

li:last-child {
    margin-bottom: 0;
}

li h4 {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 2em;
    color: #1D6420;
}

/**
 * Text alignment
 */
.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


/**
 * Font weights
 */
.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }


/**
 * Add/remove margins
 */
.push           { margin:       2em!important; }
.push--top      { margin-top:   2em!important; }
.push--right    { margin-right: 2em!important; }
.push--bottom   { margin-bottom:2em!important; }
.push--left     { margin-left:  2em!important; }
.push--ends     { margin-top:   2em!important; margin-bottom:2em!important; }
.push--sides    { margin-right: 2em!important; margin-left:  2em!important; }

.push-half          { margin:       1em!important; }
.push-half--top     { margin-top:   1em!important; }
.push-half--right   { margin-right: 1em!important; }
.push-half--bottom  { margin-bottom:1em!important; }
.push-half--left    { margin-left:  1em!important; }
.push-half--ends    { margin-top:   1em!important; margin-bottom:1em!important; }
.push-half--sides   { margin-right: 1em!important; margin-left:  1em!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
.soft           { padding:       2em!important; }
.soft--top      { padding-top:   2em!important; }
.soft--right    { padding-right: 2em!important; }
.soft--bottom   { padding-bottom:2em!important; }
.soft--left     { padding-left:  2em!important; }
.soft--ends     { padding-top:   2em!important; padding-bottom:2em!important; }
.soft--sides    { padding-right: 2em!important; padding-left:  2em!important; }

.soft-half           { padding:       1em!important; }
.soft-half--top      { padding-top:   1em!important; }
.soft-half--right    { padding-right: 1em!important; }
.soft-half--bottom   { padding-bottom:1em!important; }
.soft-half--left     { padding-left:  1em!important; }
.soft-half--ends     { padding-top:   1em!important; padding-bottom:1em!important; }
.soft-half--sides    { padding-right: 1em!important; padding-left:  1em!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }


/**
 * Homepage Slider
 */

 .home-slide-content-heading {
     font-size: 40px;
     line-height: 1.2em;
     margin: 0;
     color: #fff;
 }

 .home-slide-content-wrapper {
     font-size: 40px;
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 50px;
     color: #fff;
 }

 .home-slide-content-span {
     position: relative;
     font-size: 48px;
     font-family: 'Shadows Into Light', cursive;
     line-height: 0.85em;
 }

     .home-slide-content-span::before {
         content: "";
         position: absolute;
         left: -5px;
         bottom: 10px;
         width: 108%;
         height: 15px;
         background-color: #FC4A1A;
         z-index: -1;
     }

/*
 * Buttons
 */

 .btn {
     display: block;
     font-size: 14px;
     font-weight: 600;
     font-family: 'Inter', sans-serif;
     line-height: 1.71em;
     letter-spacing: 0.1em;
     padding: 16px 25px;
     background-color: #F36B24;
     text-decoration: none;
     transition: all 0.25s ease-in-out;
 }

 .btn-secondary {
     background-color: #2F91D1;
 }

 .btn-tertiary {
     background-color: #1D6420;
     border: 2px solid #1D6420;
 }

 .btn-quaternary {
     color: #fff;
     background-color: #081D58;
     border: 2px solid #081D58;
 }

 /*
  * Outlined Buttons
  */

 .btn-outlined {
     display: inline-flex;
     align-items: center;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     line-height: 1.5em;
     padding: 11px 11px 11px 32px;
     border-radius: 34px;
     border: 2px solid #FC4A1A;
     color: #FC4A1A;
     text-decoration: none;
     transition: all 0.25s ease-in-out;
 }

 .btn-outlined .btn-arrow {
     transition: all 0.25s ease-in-out;
 }

 .btn-outlined-secondary {
     border: 2px solid #1D6420;
     color: #1D6420;
 }

 .btn-outlined-tertiary {
     border: 2px solid #081D58;
     color: #081D58;
 }

 .btn-outlined-tertiary .btn-arrow {
     background-color: #081D58;
 }

 /*
  * Filled Buttons
  */

 .btn-filled {
     display: inline-flex;
     align-items: center;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     line-height: 1.5em;
     padding: 11px 11px 11px 32px;
     border-radius: 34px;
     border: 2px solid #FC4A1A;
     background-color: #FC4A1A;
     color: #FFF;
     text-decoration: none;
     transition: all 0.25s ease-in-out;
 }

     .btn-filled .btn-arrow {
         background-color: rgba(255,255,255,0.25);
         transition: all 0.25s ease-in-out;
     }

 .btn-filled-secondary {
     border: 2px solid #1D6420;
     background-color: #1D6420;
 }


 .btn-filled-tertiary {
     border: 2px solid #081D58;
     background-color: #081D58;
 }

 .btn-filled-quaternary {
     border: 2px solid #FFF;
     background-color: #FFF;
     color: #FC4A1A;
 }

 .btn-filled-quaternary .btn-arrow {
     background-color: #FC4A1A;
 }

 /**
  * Arrows inside buttons
  */
 .btn-arrow {
     position: relative;
     display: inline-block;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     margin-left: 10px;
     flex-shrink: 0;
 }

 .btn-arrow img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     max-width: 13.67px;
     width: 100%;
 }

 .btn-icon--white {
     filter: invert(99%) sepia(0%) saturate(1754%) hue-rotate(143deg) brightness(114%) contrast(100%);
 }

 .arrow-key--right {
     display: inline-block;
     width: 9px;
     height: 9px;
     border-top: 2px solid #1D6420;
     border-right: 2px solid #1D6420;
     transform: rotate(45deg);
     margin-left: 6px;
 }

.btn-wrapper a {
     margin-top: 14px;
     margin-bottom: 14px;
     margin-right: 40px;
 }

 .btn-center {
     text-align: center;
 }

 .contact {
     position: relative;
     text-decoration: none;
     font-size: 28px;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
     color: #081D58;
     padding-left: 28.63px;
 }

 .contact::before {
     content: "";
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     max-width: 18.63px;
     height: 32.89px;
     width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     background-image: url("https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/09/smartphone.svg");
 }
