/*------------------------------------*\
            Text & Blurb CSS
\*------------------------------------*/
.textblurb {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media( min-width: 768px ) {
    .textblurb {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media( min-width: 1025px ) {
    .textblurb {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


.textblurb-blurb {
    padding-top: 25px;
}

@media( min-width: 1025px ) {
    .textblurb-blurb {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.textblurb-box {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
}

@media( min-width: 1025px ) {
    .textblurb-box {
        max-width: calc(33.33% - 100px);
        margin: 0 150px 50px 0;
    }

    .textblurb-box:nth-child(3n+3),
    .textblurb-box:last-child {
        margin-right: 0;
    }
}

    .textblurb-blurb > .row > div:last-child > .textblurb-box {
        margin-bottom: 0;
    }

.textblurb-figure {
    margin-bottom: 20px;
}

@media( min-width: 768px ) {
    .textblurb-figure {
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.textblurb__title {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #081D58;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    text-transform: uppercase;
}

@media( min-width: 1025px ) {
    .textblurb__title {
        font-size: 22px;
    }
}

.textblurb__text {
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    color: #081D58;
}

@media( min-width: 1025px ) {
    .textblurb__text {
        font-size: 15px;
    }
}
