/*------------------------------------*\
           General WYSIWYG CSS
\*------------------------------------*/
.wysiwyg-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wysiwyg-component {
    padding: 0 !important
}

@media( min-width: 768px ) {
    .wysiwyg-block {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media( min-width: 1025px ) {
    .wysiwyg-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg p,
.wysiwyg blockquote {
    padding-top: 8px;
    padding-bottom: 8px;
}

.wysiwyg h4 {
    display: block;
}

    .wysiwyg .leaf::before {
        background-image: url("https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/09/logo-no-bg.svg");
    }

.wysiwyg .leaf--center {
    text-align: center;
}

.wysiwyg .leaf--center h4 {
    display: inline-block;
}

.wysiwyg .leaf--white {
    color: #fff;
}

    .wysiwyg .leaf--white::before {
        background-image: url("https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/09/logo-with-bg.svg");
    }

.wysiwyg h4 > img {
    max-width: 27.79px;
    width: 100%;
    margin-right: 11px;
    vertical-align: middle;
}

@media( min-width: 1025px ) {
    .wysiwyg h4 > img {
        max-width: 37.8px;
    }
}

.wysiwyg blockquote {
    margin: 0;
}

.wysiwyg blockquote > p {
    font-size: 18px !important;
    font-weight: 600 !important;
    font-style: italic !important;
    font-family: 'Poppins', sans-serif !important;
    line-height: 1.77em !important;
    color: #1D6420 !important;
}

.wysiwyg a {
    color: #081D58;
    text-decoration: none;
    transition: border 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
    font-weight: 600;
}

    @media (min-width: 1025px) {
        .wysiwyg a:hover {
            border-color: #081D58;
        }
    }

.wysiwyg ul {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}

.wysiwyg li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

@media( min-width: 768px ) {
    .wysiwyg li {
        margin-bottom: 20px;
    }
}

     .wysiwyg li::before {
         content: "";
         position: absolute;
         top: 12px;
         left: 0;
         width: 9px;
         height: 9px;
         border-radius: 50%;
         background-color: #081D58;
     }

.wysiwyg li:last-child {
    margin-bottom: 0;
}

.wysiwyg li h4 {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 2em;
    color: #1D6420;
}


.wysiwyg .btn-wrapper a {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 40px;
}

.wysiwyg .btn-center {
    text-align: center;
}

.wysiwyg .contact {
    margin: 14px 0;
    display: flex;
    align-items: center;
}

.wysiwyg .contact {
    position: relative;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #081D58;
    padding-left: 28.63px;
    border: 0 solid transparent !important;
    transition: color 0.25s ease-in-out;
}
    @media (min-width: 1025px) {
        .wysiwyg .contact:hover {
            border: 0 solid transparent !important;
            color: #FC4A1A;
        }
    }

.wysiwyg .contact::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 18.63px;
    height: 32.89px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://applegaterecovery.webpagefxstage.com/wp-content/uploads/2021/09/smartphone.svg");
}

/*------------------------------------*\
          InnerPage Global CSS
\*------------------------------------*/
.inner-content {
    max-width: 1098px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media( min-width: 768px ) {
    .inner-content {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media( min-width: 1025px ) {
    .inner-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.inner-content.full-width {
    max-width: 100%;
}

.inner-content-figure {
    width: 100%;
    text-align: center;
}

.inner-content__logo {
    max-width: 37.8px;
    width: 100%;
    margin-bottom: 10px;
}
