/*------------------------------------*\
              Location CSS
\*------------------------------------*/
.location-wrapper {
    margin-top: 75px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.location-form {
    padding: 35px 15px 25px;
    background-color: #fff;
    text-align: center;
}

@media (min-width: 1025px) {
    .location-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .location-form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .location-form-wrapper {
        max-width: auto;
        width: auto;
    }
}

.location-form__title {
    margin-bottom: 30px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@media (min-width: 768px) {
    .location-form__title {
        margin-bottom: 20px;
    }
}

@media (min-width: 1025px) {
    .location-form__title {
        margin-bottom: 0;
        margin-right: 32px;
    }
}

.location-form input[type=number]{
    max-width: 226px;
    width: 100%;
    height: 40px;
    border: 1px solid #8E8E8E;
    text-align: center;
    -moz-appearance: textfield;
}

    .location-form input[type=number]::placeholder { color: #505050; }

    .location-form input[type=number]::-webkit-outer-spin-button,
    .location-form input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

@media (min-width: 768px) {
    .location-form input[type=number]{
        max-width: 200px;
    }
}

@media (min-width: 1025px) {
    .location-form input[type=number]{
        max-width: 307px;
        text-align: left;
        padding-left: 15px;
    }
}

.location-form .custom-select {
    position: relative;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .location-form .custom-select {
        margin-top: 0;
        margin-left: 20px;
        margin-right: 22px;
        max-width: 170px;
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .location-form .custom-select {
        margin-left: 16px;
        margin-right: 16px;
        max-width: 194px;
    }
}

.location-form .custom-select select { position: absolute; }

.location-form .custom__selected {
    max-width: 226px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #8E8E8E;
    line-height: 2.4em;
    cursor: pointer;
    position: relative;
}

@media (min-width: 768px) {
    .location-form .custom__selected {
        padding-left: 22px;
        padding-right: 43px;
    }
}

@media (min-width: 1025px) {
    .location-form .custom__selected {
        padding-left: 15px;
        text-align: left;
    }
}

.location-form .custom__selected::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 2px solid #8E8E8E;
    border-bottom: 2px solid #8E8E8E;
    top: 45%;
    right: 45px;
    transform: translate(0, -50%) rotate(45deg);
}

@media (min-width: 768px) {
    .location-form .custom__selected::after {
        right: 15px;
    }
}

.location-form .custom__selected.active::after {
    transform: rotate(-135deg);
}

.location-form ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    max-width: 226px;
    width: 100%;
    height: 222px;
    overflow-y: scroll;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    background-color: #eee;
    cursor: pointer;
    z-index: 2;
}

.location-form li {
    padding: 10px;
    color: #081D58;
}

    @media (min-width: 1025px) {
        .location-form li:hover {
            background-color: #081D58;
            color: #fff;
        }
    }

.location-form__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin: 25px auto 0;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .location-form__link:hover {
            background-color: rgba(8,29,88,0.5);
        }
    }

@media (min-width: 768px) {
    .location-form__link { margin: 0; }
}

@media (min-width: 768px) {
    .location-form__link { flex-shrink: 0; }
}

.location-form__link img {
    max-width: 13.67px;
    width: 100%;
}

.location-key {
    padding: 18px 35px;
    background-color: #021036;
    text-align: left;
}


@media (min-width: 768px) {
    .location-key {
        display: flex;
        padding: 13px 32px 0;
    }
}

@media (min-width: 1025px) {
    .location-key { justify-content: center; }
}

.location-key h5 { margin-bottom: 18px; }

@media (min-width: 768px) {
    .location-key h5 {
        margin-bottom: 0;
        margin-right: 23px;
        flex-shrink: 0;
    }
}

.location-list {
    padding: 0;
    list-style-type: none;
    text-align: left;
}

@media (min-width: 768px) {
    .location-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.location-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
}

@media (min-width: 768px) {
    .location-item { margin-right: 22px; }
}

    .location-item:last-child .location__text { margin-bottom: 0; }

.location__title {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.location__text {
    font-size: 18px;
    margin-bottom: 0 !important;
}

.location__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.location__icon.icon-first {
    background-color: #FC4A1A;
    border: 2px solid #FFF;
}

.location__icon.icon-second {
    background-color: #081D58;
    border: 2px solid #FC4A1A;
}

.location__icon.icon-third {
    background-color: #1D6420;
    border: 2px solid #FFF;
}

.location-map {
    width: 100%;
    height: 264px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .location-map { height: 334px; }
}

@media (min-width: 768px) {
    .location-map {
        height: 564px;
    }
}

.location-cards-wrapper {
    padding-top: 40px;
    margin-top: -10px;
    background-color: #DADDE6;
}

@media (min-width: 768px) {
    .location-cards-wrapper {
        padding-top: 0;
    }
}

.location-state-cards-wrapper {
    padding-top: 40px;
}

@media (min-width: 768px) {
    .location-state-cards-wrapper {
        padding-top: 20px;
    }
}

@media (min-width: 1025px) {
    .location-state-cards-wrapper {
        padding-top: 0;
    }
}

.location-cards__outline {
    width: 100%;
}

.location-state {
    padding-bottom: 25px;
}

.location-state:last-child {
    padding-bottom: 35px;
}

.location-state__title {
    padding-bottom: 20px;
    display: inline-block;
    text-decoration: none;
}

@media (min-width: 768px) {
    .location-state__title {
        padding-bottom: 45px;
    }
}

.location-state-list {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .location-state-list {
        justify-content: space-between;
    }
}

@media (min-width: 1025px) {
    .location-state-list {
        justify-content: flex-start;
    }
}


.location-state-box {
    max-width: 100%;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
    padding: 40px 22px 40px;
    margin-right: 0;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .location-state-box {
        max-width: 47%;
        margin-bottom: 35px;
    }
}

@media (min-width: 1025px) {
    .location-state-box {
        margin-right: 40px;
        margin-bottom: 70px;
        max-width: calc(25% - 30px);
    }
}

.location-state-box:nth-child(4n+4) {
    margin-right: 0;
}

.location-state__city {
    font-size: 31px;
    padding-bottom: 5px;
    word-break: break-all;
}

.location-state__state {
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 0;
}

.location-state__address {
    color: #081D58;
    padding-bottom: 20px;
}

.location-state__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D6420;
    padding-bottom: 40px;
    transition: opacity 0.25s ease-in-out;
    text-decoration: none;
}

    @media (min-width: 1025px) {
        .location-state__contact:hover {
            opacity: 0.5;
        }
    }

.location-state__contact img {
    max-width: 12.07px;
    width: 100%;
    margin-right: 5px;
}

.location-state__link {
    display: inline-block;
    border-radius: 30px;
    padding: 11px 22px;
}

.location-editor {
    padding-top: 50px;
    padding-bottom: 50px;
}

/**
 * Map Markers
 */

.map-marker {
    padding: 10px;
}

.map-marker h4 {
    font-size: 18px;
    padding-left: 0;
}

.map-marker p {
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px
}

.map-marker .map__direction,
.map-marker .map__phone span {
    display: inline-block;
    color: #021036;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all 0.25s ease-in-out;
    margin-top: 5px;
    font-size: 16px;
}

    .map-marker .map__direction:hover{
        border-color: #021036;
    }

.map-marker .map__phone {
    display: block;
}
.map-marker .map__phone span {
    color: #1D6420;
}

    .map-marker .map__phone:hover span {
        border-color: #1D6420;
    }

.map__single {
    margin-top: 10px;
    text-align: center;
}
