/*------------------------------------*\
            Inner Contact CSS
\*------------------------------------*/

.contact-wrapper {
    position: relative;
    padding-top: 0;
    padding-bottom: 100px;
}

.contact-form {
    position: relative;
    max-width: 872px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 22px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
}

@media (min-width: 768px) {
    .contact-form {
        padding: 30px 40px;
    }
}

@media (min-width: 1025px) {
    .contact-form {
        padding: 60px 80px;
    }
}

.contact-form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .contact-form-group {
        flex-wrap: nowrap;
        margin-bottom: 35px;
    }
}

.contact-form-group p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

    .contact-form-group.last {
        margin-top: 35px;
        margin-bottom: 0;
    }

.contact-form-group.center {
    justify-content: center;
}

.contact-form-input {
    max-width: 100%;
    width: 100%;
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .contact-form-input {
        max-width: calc(50% - 16px);
        margin-bottom: 0;
    }
}

.contact-form-input.full {
    max-width: 100%;
}

.contact-form-input h4 {
    font-size: 14px;
    margin-bottom: 18px;
}

.contact-form-input input,
.contact-form-input textarea {
    width: 100%;
    border: 1px solid #8E8E8E;
    padding: 15px 22px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #0C2048;
}

    .contact-form-input input::placeholder,
    .contact-form-input textarea::placeholder {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #505050;
    }

.contact-form-input input.danger {
    border-color: red;
}

.contact-form-input span {
    display: block;
    font-size: 13px;
    color: red;
    padding-top: 10px;
}

.contact-form-input textarea {
    width: 100%;
    height: 180px;
    resize: none;
}

.contact-form-group p {
    text-align: center;
    font-size: 18px;
    color: #0C2048;
    line-height: 1.7em;
}

.contact__outline {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 464px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.contact__bg {
    position: absolute;
    top: -100px;
    right: -540px;
    width: 571px;
    height: 513px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
