/*------------------------------------*\
     InnerPage Forms and Guides CSS
\*------------------------------------*/
.guides .inner-content {
    padding-bottom: 160px;
}

.guides-wrapper {
    margin-top: -10px;
    background-color: #DADDE6;
    padding-bottom: 130px;
}

.guides-box {
    position: relative;
    width: 100%;
    margin-top: -150px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 90px;
    background-color: #fff;
}

.guides-box.custom-spinner .guides-item {
    opacity: 0.5;
}

.guides-box.custom-spinner::before {
    left: 44%;
}

@media (min-width: 768px) {
    .guides-box.custom-spinner::before {
        left: 46.5%;
    }
}

@media (min-width: 1025px) {
    .guides-box.custom-spinner::before {
        left: 50%;
    }
}

@media (min-width: 768px) {
    .guides-box {
        margin-top: -200px;
    }
}

@media (min-width: 1025px) {
    .guides-box {
        margin-top: -250px;
    }
}

@media (min-width: 1366px) {
    .guides-box {
        margin-top: -300px;
    }
}

.guides-nav {
    padding: 35px 35px;
    background-color: #021036;
}

@media (min-width: 1025px) {
    .guides-nav {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.guides-nav__title {
    font-size: 18px;
    line-height: 1.33em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px;
}

@media (min-width: 1025px) {
    .guides-nav__title {
        margin-right: 32px;
        margin-bottom: 0;
    }
}

.guides-btn-wrapper {
    display: block;
}

@media (min-width: 1025px) {
    .guides-btn-wrapper {
        display: flex;
    }
}

.guides__btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px;
    padding-left: 0;
    margin-bottom: 18px;
}

@media (min-width: 1025px) {
    .guides__btn {
        margin-bottom: 0;
    }
}

    .guides__btn:last-child {
        margin-right: 0;
    }

    @media (min-width: 1025px) {
        .guides__btn:hover .guides__btn-title {
            color: #FC4A1A;
        }
    }

.guides__btn-circle {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 8px;
}

.guides__btn-circle.active {
    background-color: #1D6420;
}

.guides__btn-title {
    color: #fff;
    font-size: 18px;
    line-height: 1.33em;
    font-family: 'Inter', sans-serif;
    transition: all 0.25s ease-in-out;
}

/**
 * Guide List
 */

.guides-list {
    position: relative;
    list-style-type: none;
    padding-left: 35px;
    padding-right: 35px;
}

@media (min-width: 1025px) {
    .guides-list {
        padding-left: 95px;
    }
}

.guides-item {
    position: relative;
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    padding: 22px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.11));
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .guides-item {
        padding: 35px;
    }
}

@media (min-width: 1025px) {
    .guides-item {
        padding: 70px 65px 70px 130px;
    }
}

    .guides-item:last-child {
        margin-bottom: 0;
    }

.guides__img {
    position: absolute;
    top: 50%;
    left: -64px;
    transform: translateY(-50%);
    max-width: 146px;
    width: 100%;
}

.guides-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (min-width: 1025px) {
    .guides-item-wrapper {
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.guides-content {
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1025px) {
    .guides-content {
        text-align: left;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.guides__link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100px;
    width: 100%;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #081D58;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

    @media (min-width: 1025px) {
        .guides__link:hover {
            color: #FC4A1A;
        }

        .guides__link:hover .guides__link-circle{
            background-color: #081D58;
        }

        .guides__link:hover .guides__link-circle img{
            filter: brightness(0) invert(1);
        }
    }

.guides__link-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #081D58;
    margin-bottom: 5px;
    transition: background 0.25s ease-in-out;
}

.guides__link-circle img {
    max-width: 20px;
    transform: rotate(90deg);
    transition: filter 0.25s ease-in-out;
}

/**
 * Pagination
 */

.guides-pagination-wrapper {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1025px) {
    .guides-pagination-wrapper {
        justify-content: flex-end;
    }
}
