/*------------------------------------*\
             Inner Custom CSS
\*------------------------------------*/
.custom-blurb {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 1025px) {
    .custom-box {
        justify-content: flex-start;
    }
}

.custom-box {
    width: 100%;
    background-color: #ECEEF4;
    text-align: center;
    margin-bottom: 35px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .custom-box {
        max-width: 47%;
    }
}

@media (min-width: 1025px) {
    .custom-box {
        max-width: calc( 25% - 27px );
        margin-bottom: 70px;
        margin-right: 35px;
        transition: transform 0.25s ease-in-out;
    }

    .custom-box:hover {
        transform: scale(1.05);
    }

    .custom-box:hover span {
        background-color: transparent;
        color: #081D58;
    }

    .custom-box:nth-child(4n+4) {
        margin-right: 0;
    }
}

.custom-blurb img {
    width: 100%;
    height: 268px;
    object-fit: cover;
    object-position: center;
}

.custom-blurb h3 {
    margin-top: 30px;
    font-size: 26px;
    line-height: 1.2em;
}

.custom-blurb h4 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 2em;
    padding-left: 0;
}

.custom-blurb span {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
}
