/*------------------------------------*\

    Page Footer CSS

    Page footer...........The main page footer.

\*------------------------------------*/

.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: auto; /* used to affix footer at bottom of page */
}

@media (min-width: 768px) {
    .footer {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

@media (min-width: 768px) {
    .footer-top {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    .footer-top {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__logo {
    display: block;
    max-width: 226px;
    width: 100%;
    margin: 0 auto 60px;
}

@media (min-width: 768px) {
    .footer__logo {
        margin-bottom: 44px;
    }
}

@media (min-width: 1025px) {
    .footer__logo {
        margin: 0;
    }
}

.footer-nav { margin-bottom: 30px; }

@media (min-width: 768px) {
    .footer-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;
    }
}

@media (min-width: 1025px) {
    .footer-nav {
        margin-bottom: 0;
    }
}


.footer-nav__link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: poppins-semibold;
    font-weight: 600;
    text-decoration: none;
    color: #081D58;
    transition: color 0.25s ease-in-out;
}

    .footer-nav__link:hover {
        color: #FC4A1A;
    }

@media (min-width: 768px) {
    .footer-nav__link {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .footer-nav__link {
        margin-left: 16px;
        margin-right: 16px;
    }
}

    .footer-nav__link:last-child { margin-bottom: 0; }

    @media (min-width: 768px) {
        .footer-nav__link:last-child { margin-right: 0; }
    }

    @media (min-width: 1025px) {
        .footer-nav__link:last-child { margin-right: 16px; }
    }

@media (min-width: 768px) {
    .footer-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-social .footer-go-top {
        margin: 0;
    }
}

.footer-social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social__link {
    max-width: 27px;
    margin: 0 8px;
    transition: opacity 0.25s ease-in-out;
}

    .footer-social__link:hover {
        opacity: 0.5;
    }

@media (min-width: 768px) {
    .footer-social__link { display: flex; }

        .footer-social__link:first-child {
            margin-left: 0;
        }
}

.footer-bottom { padding-top: 50px; }

@media (min-width: 768px) {
    .footer-bottom {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
        padding-top: 32px;
    }
}

@media (min-width: 1025px) {
    .footer-bottom {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 90px;
    }
}

.footer-go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: #081D58;
    border-radius: 50%;
    transition: opacity 0.25s ease-in-out;
}

    .footer-go-top:hover {
        opacity: 0.5;
    }

.footer-go-top img {
    max-width: 16px;
    width: 100%;
    transform: rotate(-90deg);
}

@media (min-width: 1025px) {
    .footer-bottom .footer-go-top {
        order: 2;
        margin: 0;
    }
}

@media (min-width: 1025px) {
    .footer-top .footer-go-top {
        display: none;
    }
}

.footer-other { padding-top: 50px; }

@media (min-width: 768px) {
    .footer-other {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }
}

@media (min-width: 1025px) {
    .footer-other {
        order: 1;
    }
}

.footer-other__links {
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: poppins-regular;
    letter-spacing: 0.05em;
    color: #081D58;
    margin-bottom: 20px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

    .footer-other__links:hover {
        color: #FC4A1A;
    }

@media (min-width: 1025px) {
    .footer-other__links {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.footer-other__copyright {
    text-align: center;
    font-size: 15px;
    font-family: poppins-regular;
    color: #081D58;
    letter-spacing: 0.05em;
}
