/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythem setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/



/**
 * Global Variables (Optional - Remove anything that's not being used)
 */

:root {
    /* --- Examples --
    --border-color: #e3e3e3;
    --border: 1px solid var(--border-color);
    --section-margins: 60px;
    --drop-shadow: 0px 1px 30px rgb(0 0 0 / 9%);
    */
}



/**
 * Document
 */

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column; /* used to affix footer to bottom of page */
    min-height: 100vh;
}



/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.aligncenter {
    display: table;
 }

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.alignnone,
 .wp-caption.aligncenter {
     margin: 0;
     width: auto !important; /* to overwrite inline widths */
 }

 img.alignright,
 .wp-caption.alignright,
 img.alignleft,
 .wp-caption.alignleft {
     height: auto;
     max-width: 50%;
 }

 img.alignnone,
 .wp-caption.alignnone img,
 img.aligncenter,
 .wp-caption.aligncenter img {
     height: auto;
     max-width: 100%;
 }

 img.alignnone,
 .wp-caption.alignnone,
 img.aligncenter,
 .wp-caption.aligncenter { margin: 0 0 22px 0; }

 img.alignright,
 .wp-caption.alignright {
     float: right;
     margin: 0 0 22px 30px;
 }

 img.alignleft,
 .wp-caption.alignleft {
     float: left;
     margin: 0 30px 22px 0;
 }

 img.aligncenter,
 .wp-caption.aligncenter img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
 }

 .wp-caption-text {
    caption-side: bottom;
    display: table-caption;
 }

 iframe,
 img {
     max-width: 100%;
 }

 /* Fade-in for lazyloaded images */
 .will-lazyload {
     opacity: 0;
     transition: opacity .25 linear;
 }

 .will-lazyload.lazyloaded {
     opacity: 1;
 }

 /**
   * Button Animations
   */

 /*
  - Please set up button animations
  */

.btn--opacity {
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
}

    .btn--opacity:hover {
        opacity: 0.7;
    }

/**
  * Colors
  */

/*
 - Please set up text colors and background colors
 - Set up color styling based on styles found in .xd file under Assets > Character Styles
 */

/**
  * Text Colors
  */
.text-color--blue { color: #081D58; }

.text-color--green { color: #1D6420; }

.text-color--yellow { color: #FFCE00; }

.text-color--orange { color: #FC4A1A; }

.text-color--white { color: #FFF; }

.text-color--lightblue { color: #C2D5E6; }

/**
  * Background Colors
  */
.bg-color--blue { background-color: #081D58; }

.bg-color--green { background-color: #1D6420; }

.bg-color--yellow { background-color: #FFCE00; }

.bg-color--orange { background-color: #FC4A1A; }

.bg-color--white { background-color: #FFF; }

.bg-color--lightblue { background-color: #C2D5E6; }
/**
  * Typography
  */

/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: inter-bold;
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: shadows-intolight;
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: poppins-semibold;
    margin: 0;
}

h1, .h1 {
    font-size: 40px;
    line-height: 1.61em;
    color: #0C2048;
}

h2, .h2 {
    font-size: 40px;
    line-height: 1.31em;
    color: #0C2048;
}

h3, .h3 {
    font-size: 28px;
    line-height: 1.41em;
    color: #0C2048;
}

h4, .h4 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.45em;
    font-weight: 600;
    color: #1D6420;
    letter-spacing: 0.05em;
}

h5, .h5 {
    font-size: 14.5px;
    font-weight: 600;
    font-family: poppins-bold;
    line-height: 1.5em;
    color: #fff;
}

@media (min-width: 768px) {
    h1, .h1 {
        font-size: 60px;
    }

    h2, .h2 {
        font-size: 44px;
        line-height: 1.3em;
    }

    h3, .h3 {
        font-size: 28px;
    }

    h4, .h4 {
        font-size: 22px;
    }
}

@media (min-width: 1025px) {
    h1, .h1 {
        font-size: 80px;
    }

    h2, .h2 {
        font-size: 44px;
    }

    h3, .h3 {
        font-size: 28px;
    }

    h4, .h4 {
        font-size: 23px;
    }
}

p, ul, ol {
    font-size: 16px;
    font-family: inter;
    line-height: 1.5em;
    color: #505050;
    margin: 0;
}

.page-content ul,
.page-content ol {
   /* fix for bulleted lists not wrapping around images correctly in Wordpress */
   width: auto;
   overflow: hidden;
}

ul li {
	/* set up bullets as a :before or icon element, not as a background image */
}

hr {
}

a {
	word-break: break-word; /* force link text to overflow when too long for container */
}

	a:hover {}



/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/**
  * Wrappers
  */

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px; /* TODO: Default grid. Update if different in prototypes. */
    padding-right: 22px;
}

@media (min-width: 768px) {
    .container,
    .container-fluid {
        padding-left: 85px;
        padding-right: 85px;
    }
}

@media (min-width: 1025px) {
    .container,
    .container-fluid {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.container {
	max-width: 1366px;
}



/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */

  .row {
    margin-left: -16px; /* TODO: Default grid. Update if different in prototypes. */
    margin-right: -16px;
}

    [class*="col-"] {
        position: relative;
        min-height: 1px;
        padding-left: 16px; /* TODO: Default grid. Update if different in prototypes. */
        padding-right: 16px;
    }

/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] { float:left; }

.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9  { width: 75%; }
.col-xxs-8  { width: 66.66666667%; }
.col-xxs-7  { width: 58.33333333%; }
.col-xxs-6  { width: 50%; }
.col-xxs-5  { width: 41.66666667%; }
.col-xxs-4  { width: 33.33333333%; }
.col-xxs-3  { width: 25%; }
.col-xxs-2  { width: 16.66666667%; }
.col-xxs-1  { width: 8.33333333%; }

.col-xxs-pull-12 { right: 100%; }
.col-xxs-pull-11 { right: 91.66666667%; }
.col-xxs-pull-10 { right: 83.33333333%; }
.col-xxs-pull-9  { right: 75%; }
.col-xxs-pull-8  { right: 66.66666667%; }
.col-xxs-pull-7  { right: 58.33333333%; }
.col-xxs-pull-6  { right: 50%; }
.col-xxs-pull-5  { right: 41.66666667%; }
.col-xxs-pull-4  { right: 33.33333333%; }
.col-xxs-pull-3  { right: 25%; }
.col-xxs-pull-2  { right: 16.66666667%; }
.col-xxs-pull-1  { right: 8.33333333%; }
.col-xxs-pull-0  { right: auto; }

.col-xxs-push-12 { left: 100%; }
.col-xxs-push-11 { left: 91.66666667%; }
.col-xxs-push-10 { left: 83.33333333%; }
.col-xxs-push-9  { left: 75%; }
.col-xxs-push-8  { left: 66.66666667%; }
.col-xxs-push-7  { left: 58.33333333%; }
.col-xxs-push-6  { left: 50%; }
.col-xxs-push-5  { left: 41.66666667%; }
.col-xxs-push-4  { left: 33.33333333%; }
.col-xxs-push-3  { left: 25%; }
.col-xxs-push-2  { left: 16.66666667%; }
.col-xxs-push-1  { left: 8.33333333%; }
.col-xxs-push-0  { left: auto; }

.col-xxs-offset-12 { margin-left: 100%; }
.col-xxs-offset-11 { margin-left: 91.66666667%; }
.col-xxs-offset-10 { margin-left: 83.33333333%; }
.col-xxs-offset-9  { margin-left: 75%; }
.col-xxs-offset-8  { margin-left: 66.66666667%; }
.col-xxs-offset-7  { margin-left: 58.33333333%; }
.col-xxs-offset-6  { margin-left: 50%; }
.col-xxs-offset-5  { margin-left: 41.66666667%; }
.col-xxs-offset-4  { margin-left: 33.33333333%; }
.col-xxs-offset-3  { margin-left: 25%; }
.col-xxs-offset-2  { margin-left: 16.66666667%; }
.col-xxs-offset-1  { margin-left: 8.33333333%; }
.col-xxs-offset-0  { margin-left: 0; }

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {float:left;}

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666667%; }
    .col-xs-10 { width: 83.33333333%; }
    .col-xs-9  { width: 75%; }
    .col-xs-8  { width: 66.66666667%; }
    .col-xs-7  { width: 58.33333333%; }
    .col-xs-6  { width: 50%; }
    .col-xs-5  { width: 41.66666667%; }
    .col-xs-4  { width: 33.33333333%; }
    .col-xs-3  { width: 25%; }
    .col-xs-2  { width: 16.66666667%; }
    .col-xs-1  { width: 8.33333333%; }

    .col-xs-pull-12 { right: 100%; }
    .col-xs-pull-11 { right: 91.66666667%; }
    .col-xs-pull-10 { right: 83.33333333%; }
    .col-xs-pull-9  { right: 75%; }
    .col-xs-pull-8  { right: 66.66666667%; }
    .col-xs-pull-7  { right: 58.33333333%; }
    .col-xs-pull-6  { right: 50%; }
    .col-xs-pull-5  { right: 41.66666667%; }
    .col-xs-pull-4  { right: 33.33333333%; }
    .col-xs-pull-3  { right: 25%; }
    .col-xs-pull-2  { right: 16.66666667%; }
    .col-xs-pull-1  { right: 8.33333333%; }
    .col-xs-pull-0  { right: auto; }

    .col-xs-push-12 { left: 100%; }
    .col-xs-push-11 { left: 91.66666667%; }
    .col-xs-push-10 { left: 83.33333333%; }
    .col-xs-push-9  { left: 75%; }
    .col-xs-push-8  { left: 66.66666667%; }
    .col-xs-push-7  { left: 58.33333333%; }
    .col-xs-push-6  { left: 50%; }
    .col-xs-push-5  { left: 41.66666667%; }
    .col-xs-push-4  { left: 33.33333333%; }
    .col-xs-push-3  { left: 25%; }
    .col-xs-push-2  { left: 16.66666667%; }
    .col-xs-push-1  { left: 8.33333333%; }
    .col-xs-push-0  { left: auto; }

    .col-xs-offset-12 { margin-left: 100%; }
    .col-xs-offset-11 { margin-left: 91.66666667%; }
    .col-xs-offset-10 { margin-left: 83.33333333%; }
    .col-xs-offset-9  { margin-left: 75%; }
    .col-xs-offset-8  { margin-left: 66.66666667%; }
    .col-xs-offset-7  { margin-left: 58.33333333%; }
    .col-xs-offset-6  { margin-left: 50%; }
    .col-xs-offset-5  { margin-left: 41.66666667%; }
    .col-xs-offset-4  { margin-left: 33.33333333%; }
    .col-xs-offset-3  { margin-left: 25%; }
    .col-xs-offset-2  { margin-left: 16.66666667%; }
    .col-xs-offset-1  { margin-left: 8.33333333%; }
    .col-xs-offset-0  { margin-left: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {float:left;}

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9  { width: 75%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-6  { width: 50%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-3  { width: 25%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-1  { width: 8.33333333%; }

    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9  { right: 75%; }
    .col-sm-pull-8  { right: 66.66666667%; }
    .col-sm-pull-7  { right: 58.33333333%; }
    .col-sm-pull-6  { right: 50%; }
    .col-sm-pull-5  { right: 41.66666667%; }
    .col-sm-pull-4  { right: 33.33333333%; }
    .col-sm-pull-3  { right: 25%; }
    .col-sm-pull-2  { right: 16.66666667%; }
    .col-sm-pull-1  { right: 8.33333333%; }
    .col-sm-pull-0  { right: auto; }

    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9  { left: 75%; }
    .col-sm-push-8  { left: 66.66666667%; }
    .col-sm-push-7  { left: 58.33333333%; }
    .col-sm-push-6  { left: 50%; }
    .col-sm-push-5  { left: 41.66666667%; }
    .col-sm-push-4  { left: 33.33333333%; }
    .col-sm-push-3  { left: 25%; }
    .col-sm-push-2  { left: 16.66666667%; }
    .col-sm-push-1  { left: 8.33333333%; }
    .col-sm-push-0  { left: auto; }

    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-0  { margin-left: 0; }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {float:left;}

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }

    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9  { right: 75%; }
    .col-md-pull-8  { right: 66.66666667%; }
    .col-md-pull-7  { right: 58.33333333%; }
    .col-md-pull-6  { right: 50%; }
    .col-md-pull-5  { right: 41.66666667%; }
    .col-md-pull-4  { right: 33.33333333%; }
    .col-md-pull-3  { right: 25%; }
    .col-md-pull-2  { right: 16.66666667%; }
    .col-md-pull-1  { right: 8.33333333%; }
    .col-md-pull-0  { right: auto; }

    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9  { left: 75%; }
    .col-md-push-8  { left: 66.66666667%; }
    .col-md-push-7  { left: 58.33333333%; }
    .col-md-push-6  { left: 50%; }
    .col-md-push-5  { left: 41.66666667%; }
    .col-md-push-4  { left: 33.33333333%; }
    .col-md-push-3  { left: 25%; }
    .col-md-push-2  { left: 16.66666667%; }
    .col-md-push-1  { left: 8.33333333%; }
    .col-md-push-0  { left: auto; }

    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {float:left;}

    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }

    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9  { right: 75%; }
    .col-lg-pull-8  { right: 66.66666667%; }
    .col-lg-pull-7  { right: 58.33333333%; }
    .col-lg-pull-6  { right: 50%; }
    .col-lg-pull-5  { right: 41.66666667%; }
    .col-lg-pull-4  { right: 33.33333333%; }
    .col-lg-pull-3  { right: 25%; }
    .col-lg-pull-2  { right: 16.66666667%; }
    .col-lg-pull-1  { right: 8.33333333%; }
    .col-lg-pull-0  { right: auto; }

    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9  { left: 75%; }
    .col-lg-push-8  { left: 66.66666667%; }
    .col-lg-push-7  { left: 58.33333333%; }
    .col-lg-push-6  { left: 50%; }
    .col-lg-push-5  { left: 41.66666667%; }
    .col-lg-push-4  { left: 33.33333333%; }
    .col-lg-push-3  { left: 25%; }
    .col-lg-push-2  { left: 16.66666667%; }
    .col-lg-push-1  { left: 8.33333333%; }
    .col-lg-push-0  { left: auto; }

    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }
}



/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after { clear: both; }



/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.

     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */

.btn {
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: inter;
    line-height: 1.71em;
    letter-spacing: 0.1em;
    padding: 16px 25px;
    background-color: #F36B24;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

    .btn:hover {

    }

.btn-secondary {
    background-color: #2F91D1;
}

    .btn-secondary:hover {
    }

.btn-tertiary {
    background-color: #1D6420;
    border: 2px solid #1D6420;
}
    .btn-tertiary:hover {
        background-color: transparent;
        color: #1D6420;
    }

.btn-quaternary {
    color: #fff;
    background-color: #081D58;
    border: 2px solid #081D58;
}
    .btn-quaternary:hover {
        background-color: transparent;
        color: #081D58;
    }
/**
 * Outlined Buttons
 */

.btn-outlined {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-family: poppins-semibold;
    line-height: 1.5em;
    padding: 11px 11px 11px 32px;
    border-radius: 34px;
    border: 2px solid #FC4A1A;
    color: #FC4A1A;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.btn-outlined .btn-arrow {
    transition: all 0.25s ease-in-out;
}

.btn-outlined-secondary {
    border: 2px solid #1D6420;
    color: #1D6420;
}

.btn-outlined-tertiary {
    border: 2px solid #081D58;
    color: #081D58;
}

    .btn-outlined-tertiary:hover {
        background-color: #081D58;
        color: #fff;
    }

.btn-outlined-tertiary .btn-arrow {
    background-color: #081D58;
}

    .btn-outlined-tertiary:hover .btn-arrow {
        background-color: rgba(255,255,255,0.25);
    }

/**
 * Filled Buttons
 */

.btn-filled {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-family: poppins-semibold;
    line-height: 1.5em;
    padding: 11px 11px 11px 32px;
    border-radius: 34px;
    border: 2px solid #FC4A1A;
    background-color: #FC4A1A;
    color: #FFF;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

    .btn-filled:hover {
        background-color: #fff;
        border-color: #fff;
        color: #FC4A1A;
    }

    .btn-filled.btn-filled--whitebg:hover {
        background-color: #fff;
        border-color: #FC4A1A;
    }

    .btn-filled .btn-arrow {
        background-color: rgba(255,255,255,0.25);
        transition: all 0.25s ease-in-out;
    }

    .btn-filled:hover .btn-arrow {
        background-color: #FC4A1A;
    }

.btn-filled-secondary {
    border: 2px solid #1D6420;
    background-color: #1D6420;
}

    .btn-filled-secondary:hover {
        background-color: transparent;
        border-color: #1D6420;
        color: #1D6420;
    }

    .btn-filled-secondary:hover .btn-arrow{
        background-color: #1D6420;
    }

.btn-filled-tertiary {
    border: 2px solid #081D58;
    background-color: #081D58;
}

    .btn-filled-tertiary:hover {
        background-color: #fff;
        border-color: #fff;
        color: #081D58;
    }

    .btn-filled-tertiary.btn-filled--whitebg:hover {
        background-color: #fff;
        border-color: #081D58;
    }

    .btn-filled-tertiary:hover .btn-arrow {
        background-color: #081D58;
    }

.btn-filled-quaternary {
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #FC4A1A;
}

    .btn-filled-quaternary:hover {
        background-color: #FC4A1A;
        border-color: #FC4A1A;
        color: #fff;
    }

.btn-filled-quaternary .btn-arrow {
    background-color: #FC4A1A;
}

    .btn-filled-quaternary:hover .btn-arrow {
        background-color: rgba(255,255,255,0.25);
    }

/**
 * Arrows inside buttons
 */
.btn-arrow {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .btn-arrow {
        margin-left: 15px;
    }
}

@media (min-width: 1025px) {
    .btn-arrow {
        margin-left: 20px;
    }
}

.btn-arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 13.67px;
    width: 100%;
}

.btn-icon--white {
    filter: invert(99%) sepia(0%) saturate(1754%) hue-rotate(143deg) brightness(114%) contrast(100%);
}

.arrow-key--right {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-top: 2px solid #1D6420;
    border-right: 2px solid #1D6420;
    transform: rotate(45deg);
    margin-left: 6px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn + .btn {
	margin-top: 5px; /* Add margin-top when 2 buttons are next to each other */
}

@media (min-width: 600px) {

    .btn + .btn {
		margin-top: 0;
		margin-left: 5px;
	}

}



/**
 * Icons
 */

/* add icon code here */



/**
 * Forms
 */

label {
}

select {
}

textarea {
}

/* Removes default webkit form styling */
input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
    -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none; /* Removes blue border on focus */
    border: 1px solid #ccc; /* TODO: Please add a branded border for focus */
}

/* default text input style */
[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {
}

    /* Removes inconsistent padding from Firefox buttons */
    button::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border: none;
        padding:0;
    }


/* Hide reCaptcha badge */
.grecaptcha-badge {
    visibility: hidden;
}




/**
 * Pagination
 */

 .wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {

    .wp-pagenavi { margin-top: 70px; }

}



/**
 * Sticky Sidebar
 */

@media( min-width: 1025px ) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 125px; /* TODO: update to match how far down page when sidebar should stick */
    }
}
